[2019-08-10 20:22] Strate opened #185 ""Couldn't use specified SSL cipher" error trying to make request to any url"
I'm just trying to make request to https endpoint like that:

[code]

But I am getting this output:
[code]

Trying to make `curl https://google.com` resolves with currect response with no error.

I am on Ubuntu 16.04

Just googling that error don't helps me, could you please help me to solve that problem?

[2019-08-10 20:44] Strate commented on #185
I've resolved that issue by downgrading nodejs version to LST release and reinstalling node_modules for project. Looks like after that node-libcurl comes from prebuilt binary, and everything goes fine with this output:
[code]

[2019-08-13 14:34] xeleniumz opened #186 "How to release curl connection"
Hello community , thank for great library.
I found the problem when use in production. Node libcurl didnt’release old connection but still increase connection and this behavior makes my node application hang up. How to fix it ?

![6C7D9FEB-0F8C-4562-9A9E-F619859E83EA](https://user-images.githubusercontent.com/9983597/62950322-fd020400-be11-11e9-81c1-9c539bae214e.jpeg)

[2019-08-13 15:07] JCMais commented on #186
Can you share your code? Libcurl re-uses connections by default, but you have way too many connections, looks like you are not closing your handles.

If you are using the `Curl`/`Multi` api, the option you are looking for is the [`CURLMOPT_MAXCONNECTS`](https://curl.haxx.se/libcurl/c/CURLMOPT_MAXCONNECTS.html).

[2019-08-13 15:12] JCMais commented on #185
Hey, glad you figured it out!

What was the node.js version you were using previously?

It was probably because the openssl version didn't match the one used by Node.js, and it **must** match. The prebuilt binary does not have this problem.

[2019-08-13 15:12] #185 closed

[2019-08-13 15:14] #184 closed

[2019-08-13 15:15] JCMais commented on #178
Timing out

[2019-08-13 15:15] #178 closed

[2019-08-13 15:17] JCMais commented on #182
Any luck on this? I should be able to test it tomorrow night, I didn't have a Mac I could use to test it.

[2019-08-13 16:18] vierarb commented on #182
No, I've been struggling with this for a few days without luck. I'm considering running the library inside a Docker to check if it's something related to Mac, or if I'm doing something wrong.

Help is much appreciated! :)

[2019-08-13 22:08] Strate commented on #185
@JCMais there was nodejs 11. May be you could add prebuilt for latest node release?

[2019-08-13 22:13] JCMais commented on #185
@Strate there should be prebuilt binaries for Node 12 already, in case it does not work let me know

[2019-08-14 00:37] xeleniumz commented on #186
@JCMais
this is my curl code.
I have 2 system envirovment Debian 10 and Windows 10 found the same problem
Node version 10.15
Thank you

[code]

[2019-08-14 13:34] JCMais commented on #186
You are not closing the handle on the `error` event callback, you are just binding the method.

I don't see any other issue, so you are probably just opening way too many connections at a single time, you probably should throttle those. Or use the `Multi` handle directly and use the option I mentioned previously.

[2019-08-14 14:40] xeleniumz commented on #186
@JCMais  Can you modify my code for example ? I'm newbie with node libcurl.

[2019-08-15 12:47] xeleniumz commented on #186
after change code still got same problem

[2019-08-16 03:45] xeleniumz commented on #186
use curly instance instead of curl instance to fixed this problem.

[2019-08-16 03:45] #186 closed

[2019-08-20 21:50] vierarb commented on #182
I finally got it working, the issue was related to the libraries. Once I compiled them with the right versions everything went smooth! :)

[2019-08-20 21:50] #182 closed

[2019-08-21 01:13] JCMais commented on #182
Hey, glad you got it working! If possible can you post the steps you took to identify the problem and how you solved it? It would be great for others having the same problem.

[2019-08-26 07:24] vierarb commented on #182
To make it work with Electron, the library versions when executing `curl --version` and `node -p process.versions` must the same, specifically `brotli`, `OpenSSL`, `nghttp2` and `zlib`, as said in the documentation.

`curl --version`
[code]

`node -p process.versions`
[code]

### 1. Update libraries

- brew upgrade c-ares
- brew upgrade nghttp2
- brew install openssl@1.1

### 2. Install cURL from

[2019-08-26 13:02] developuser opened #187 "unable to use authorization in header"
unable to use the authorization in the curl request

[2019-09-07 08:24] ihgazni2 opened #188 "please add curl_infotype enums to Curl.info."
**ISSUE**:

    /*
        https://curl.haxx.se/libcurl/c/CURLOPT_DEBUGFUNCTION.html
        typedef enum {
            CURLINFO_TEXT = 0,
            CURLINFO_HEADER_IN,    /* 1 */
            CURLINFO_HEADER_OUT,   /* 2 */
            CURLINFO_DATA_IN,      /* 3 */
            CURLINFO_DATA_OUT,     /* 4 */
            CURLINFO_SSL_DATA_IN,  /* 5 */
            CURLINFO_SSL_DATA_OUT, /* 6 */

[2019-09-07 17:06] JCMais commented on #188
This is already possible, see example: https://github.com/JCMais/node-libcurl/blob/develop/examples/12-debug-callback.js

[2019-09-07 17:06] #188 closed

[2019-09-08 02:39] ihgazni2 commented on #188
thx

[2019-09-16 05:54] developuser opened #190 "unable to set request timeout"
I had unable to set timeout for my curl request, so the curl is waiting for the response for the long time,which leads to memory leakage.

`    const Curl = require( 'node-libcurl' ).Curl;
    const curl = new Curl();
    const querystring = require('querystring')
    curl.setOpt('URL', url);
    curl.setOpt(Curl.option.CONNECTTIMEOUT, 5);

    curl.setOpt('FOLLOWLOCATION', true);
    if(isHeadera

[2019-09-16 06:26] developuser commented on #187
Hai @JCMais  i had fixed solved this issue in my end , due to some misunderstanding i had this isuue so kindly close this issue

[2019-09-16 17:35] #187 closed

[2019-09-21 01:08] #179 closed

[2019-09-21 01:08] JCMais commented on #179
Fixed on develop, missed this one on latest release but it will be available on the next one.

[2019-09-23 05:03] developuser commented on #190
@JCMais kindly give the suggestions regarding this issue

[2019-09-23 21:42] JCMais commented on #190
@JCMais do you have a code I can run directly to reproduce the issue? It would help to identify the problem

[2019-09-24 03:14] developuser commented on #190
i had used the above mentioned code,the problem that i faced was when i make a curl request to a another server, if it takes too much time to respond back means i want to forcibly end the request  as like request timeout in php curl library.

[2019-09-30 18:56] JCMais commented on #190
There are tests for the `CONNECTTIMEOUT` option: https://github.com/JCMais/node-libcurl/blob/249323f0f3883f8cbf6d0e91a89bfecb5862da53/test/curl/connectionTimeout.spec.ts

It's working correctly, what might be happening is that probably the server is answering the TCP connection request but taking too long to return anything useful, in this case you are looking for the [`CURLOPT_TIMEOUT`](https://c

[2019-10-16 06:27] vierarb opened #191 "POST request without body"
node-libcurl
`2.0.1`

cURL
`curl 7.65.3 (x86_64-apple-darwin18.7.0) libcurl/7.65.3 OpenSSL/1.1.1c zlib/1.2.11 brotli/1.0.7 c-ares/1.15.0 libidn2/2.2.0 libpsl/0.21.0 (+libidn2/2.2.0) libssh2/1.9.0 nghttp2/1.39.2`
`Release-Date: 2019-07-19`
`Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smb smbs smtp smtps telnet tftp`
`Features: AsynchDNS brotli GSS-

[2019-10-18 17:33] k0pernikus opened #192 "Cannot install on nodejs 10.16.0"
When installing on a node@10.16 system, it fails via:

[code]
Upgrading to a later node version (e.g. 10.16.3 or 11.15.0)  works, though it has been fine before.

I noticed this today by builds suddenly breaking, meaning it has been fine before.

[2019-10-18 17:42] k0pernikus commented on #192
Now, also building against 10.16.3 fails too, but building on node@10.16.2 works. WTF.

[code]

Are you deleting old releases or may this be a github issue?

[2019-10-18 18:06] JCMais commented on #192
You should use version `1.3.3`, version `1.3.3` has no pre built binaries for Node 10 (ABI 64), you can check that going to the release itself:
`1.3.3`: https://github.com/JCMais/node-libcurl/releases/tag/v1.3.3
`1.3.2`: https://github.com/JCMais/node-libcurl/releases/tag/v1.3.2

[2019-10-21 00:05] JCMais commented on #191
Looks like this has something to do with HTTP 2, if you disable it there are no errors. You can disable by forcing a specific version:
[code]

Btw, can you force HTTP 2 by adding the flag `--http2` to the curl command and see if you can reproduce it in there too?

[2019-10-23 12:39] k0pernikus commented on #192
@JCMais Thanks for the answer. What I found odd though is that it sometimes appears to be working, and sometimes it fails. My build pipeline, without any changes to the the github repository or the used node version, would just work the other day again without any incident.

I have created a [gist for the full log](https://gist.github.com/k0pernikus/57830942c6f0bccbd965c8cf8a1675bd).

I can confir

[2019-10-23 13:04] JCMais commented on #192
Thanks for full log, the error seems to be this one:
[code]

Which is probably related to the following `node-pre-gyp` issue: https://github.com/mapbox/node-pre-gyp/issues/426

`1.3.2` is a really old release, I recommend you to upgrade to the latest version, if that is not possible, you can try to force the latest version of `node-pre-gyp` using [yarn selective version resolutions](https://yarnpk

[2019-10-23 13:04] #192 closed

[2019-10-24 13:23] druidvav opened #193 "Error: "Failed writing received data to disk/application""
Hello, here is reproducible example of an error with latest node-libcurl

[code]

[2019-10-27 21:52] JCMais commented on #193
Can reproduce, what was the OS and libcurl versions you were using @druidvav ?

[2019-10-27 21:53] #190 closed

[2019-10-27 21:57] druidvav commented on #193
Debian 9.11, libcurl4-nss-dev=7.52.1-5+deb9u9

[2019-10-27 22:08] JCMais commented on #193
If you are using the latest version of the addon, could you run `Curl.getVersionInfoString()` and post their results?

[2019-10-27 22:09] druidvav commented on #193
[code]

[2019-11-20 21:43] insub opened #194 "Cannot convert undefined or null to object (10135 COOKIELIST)"
i try to setOpt cookielist but get the error:
"Cannot convert undefined or null to object (10135 COOKIELIST)"

my code like that:
[code]
on node-licurl version 2.0.0-alpha.0 is fine, when i update node-licurl to 2.0.2 then get this error,
how to fix it?

[2019-11-20 21:49] JCMais commented on #194
can you post the full error? If possible with some code that can reproduce the problem directly (that is, I can just run it directly and see the error)

[2019-11-20 22:24] insub commented on #194
The code comes from a private function of about 1000 lines in an open source library.
I am trying to upgrade it from node-licurl version v2.0.0-alpha.0 to v2.0.2，These codes work fine on the 2.0.0-alpha.0 version.
But these codes are difficult to separate and run separately.
I think I should close this issue and check other code again.

Anyway, Thank,

[2019-11-20 22:24] #194 closed

[2019-11-27 13:45] vomc opened #195 "POST example fails"
If I am using the POST example from the README verbatim (granted I know that the URL listed is not going to work), I get

[code]

To reproduce make a new file and paste in the example:

[code]

And try to run it

[2019-11-27 13:50] JCMais commented on #195
It should be `Curl.option`

[2019-11-27 14:06] vomc opened #196 "Example showing how to set headers"
I looked through issues including closed ones and was suprised that nobody asked before but how do you set headers?

I tried using `curl.setOpt(Curl.option.HEADER, { 'Content-Type': 'application.json' })` and then running a request in verbose mode but it looks like the headers are not set...

I can't imagine this is the first time anybody has asked, please let me know where there are some docs on

[2019-11-27 14:06] #196 closed

[2019-11-27 14:07] vomc commented on #196
Argg, that clearly was the wrong option... HEADER i guess just determines whether you include the headers in the body...

[2019-11-27 14:12] JCMais commented on #196
This is a common misconception with libcurl itself, for more details on what each options does the official documentation for libcurl is the best resource: https://curl.haxx.se/libcurl/c/curl_easy_setopt.html

Almost all options are supported on this binding

[2019-11-27 14:16] JCMais commented on #196
You are correct that it's missing some examples on how to setup headers, but it's like that:

https://github.com/JCMais/node-libcurl/blob/2bc06625f5bf13c04c64cc014ad82c25fecc8fb2/test/curl/callbacks.spec.ts#L140

[2019-11-27 14:43] vomc commented on #196
Yeah that makes sense! Thanks for looking into it! Happy to submit a PR with an updated README.md if that helps...

was thinking just update
[code]

and then maybe an example with header

#### Setting HTTP headers

Pass an array of strings specifying headers
[code]

[2019-11-27 14:54] JCMais commented on #196
Feel free to do so @vomc, that would be really great.

[2019-11-27 14:55] JCMais commented on #195
I will leave this open because the README needs to be fixed, feel free to submit a PR if you are able to.

[2019-11-27 15:12] vomc commented on #195
Looks like it won't let me 😢

[code]

[2019-11-27 16:08] JCMais commented on #195
You have to fork this repository on your Github account and then push to some branch there, this way Github will give you the option to open a pull request.

You can also edit the Readme file directly from Github UI and it will do most of this automatically for you.
________________________________
From: Jochen Hartmann <notifications@github.com>
Sent: Wednesday, November 27, 2019 12:12:46 PM
To:

[2019-11-28 03:42] smildlzj opened #197 "build fail with electron@7.1.2"
hi,

electron@7.1.2 with node@12.8.1，but node-libcurl not support it.

it build fail

[2019-11-28 07:46] vomc opened #198 "Segmentation fault when running in CI"
I am running a node script that uses `node-libcurl` in CI on Gitlab. I can run the script fine on my local machine but when running in CI I see:

[code]

This occurs right after I use `curl.perform()`. So I can initialize and set options but then it crashes...

Any ideas?

This is running in this docker image: https://hub.docker.com/r/cypress/base/ which uses Node v10

I am going to try to switch

[2019-11-28 09:31] vomc commented on #195
Ah ok! Thanks! 👉  https://github.com/JCMais/node-libcurl/pull/199

[2019-11-28 10:46] vomc commented on #198
Note: same issue with node v12 image...

[2019-11-28 11:59] #195 closed

[2019-11-28 12:01] JCMais commented on #198
Could you share the full docker image you are using + js code? So I can simply build it locally to test the issue.

[2019-11-28 12:02] JCMais commented on #197
Could you share some code to reproduce the issue and the steps you took? (+ logs if possible)

Also, which OS are you running?

[2019-11-29 08:07] vomc commented on #198
Hmm, I can take a look. The docker image is here: https://hub.docker.com/r/cypress/base/dockerfile
I can't share my full CI code but I basically use that image, then run a number of scripts inside it. The one that uses node-libcurl is really doing some DB cleanup prior to the other scripts running and that is where the segfault happens.

The script only does 2 things (1) obtain a token from AWS an

[2019-11-29 13:16] JohnnyCrazy opened #200 "Alpine Prebuild binaries don't contain brotli"
Hi,

Using the following Dockerfile with `node-libcurl@2.0.2` will result in a libcurl without brotli

[code]

Version String from test:

[code]

I had a look at the CI scripts, but it seems like it should always be build with brotli support?

[2019-12-01 22:04] JCMais commented on #198
Cannot reproduce this, used the following js file / dockerfile:
[code]

[code]

If you can, try to run with the `VERBOSE` option set to true, and paste the output here (removing any sensitive info).

Also if possible try to run it directly with curl to see if it works correctly.

[2019-12-02 07:11] smildlzj commented on #197
export npm_config_runtime=electron
export npm_config_target=params.electron_version
export npm_config_disturl=https://atom.io/download/electron
export npm_config_msvs_version=2015
export npm_config_arch=ia32

yarn install
yarn pregyp rebuild

[code]

[2019-12-02 13:46] JCMais commented on #200
You are correct, this was probably some caching issue, I have fixed it just for the Node.js 12 Alpine prebuilt images.

I will keep this open until the next release.

[2019-12-02 14:55] JohnnyCrazy commented on #200
Does this also mean 2.0.3 will receive an up-to-date curl version for alpine? 7.50.0 is over 3 years old :sweat_smile:

[2019-12-02 15:12] JCMais commented on #200
yes, actually it should have been built with 7.64.1, 7,50.0 is the minimum version the addon is tested against. The fixed prebuilt binary is already using 7.64.1.

[2019-12-02 17:34] JohnnyCrazy commented on #200
Ah okay, got it. Do you have an ETA for 2.0.3?

[2019-12-02 21:10] JCMais commented on #200
End of the week - mid of next week

[2019-12-05 21:35] alex-sherwin opened #201 "DEBUGFUNCTION type signature is wrong"
The `DEBUGFUNCTION` type signature is wrong

It must always return `0` according to the docs (see https://curl.haxx.se/libcurl/c/CURLOPT_DEBUGFUNCTION.html), and in practice if you do not return `0` it aborts

The `12-debug-callback.js` example does return `0` and has a comment about it being required, but, the TypeScript signature is set to a `void` return type

[2019-12-05 21:43] alex-sherwin commented on #201
Not sure why GH didn't auto link the associated PR #202

[2019-12-06 11:48] #201 closed

[2019-12-09 00:59] alex-sherwin commented on #197
https://github.com/JCMais/node-libcurl/blob/e97e32388a3189f80e4a01e373f27296c85a061a/src/Easy.cc#L1618

was using a deprecated V8 Array `Set` function signature, starting in Node 13 the two-argument variant was removed and the only supported variant is the three-argument one

compile error:

[code]

[2019-12-09 13:11] #197 closed

[2019-12-09 18:40] alex-sherwin opened #204 "Repercussions of node-pre-gyp's find method"
Out of curiosity, is this truly necessary?

https://github.com/JCMais/node-libcurl/blob/8d9b62d639ac277da28d8af1278ab873446c85fa/lib/Curl.ts#L45

While in practice it works, it brings some baggage with it that I haven't found any way to work around.

There's a few things about this that are problematic

## Importing default export of `node-pre-gyp`

This import:

https://github.com/JCMais/node-lib

[2019-12-09 19:26] JCMais commented on #204
I can do that

This one I will have to test tho, I'm pretty sure having this static is going to cause issues during local development with `node-pre-gyp`.

[2019-12-10 01:31] JCMais commented on #193
I couldn't find the cause for this problem, any help is welcome.

[2019-12-10 01:32] JCMais commented on #183
Newer libcurl version has been released

[2019-12-10 01:32] #183 closed

[2019-12-11 22:06] JCMais opened #205 "Upgrade to libcurl 7.69.0"
https://curl.haxx.se/changes.html#7_67_0
https://curl.haxx.se/docs/releases.html

Currently we are using 7.64.1

[2019-12-12 01:09] JCMais commented on #200
v2.0.3 has been released

[2019-12-12 01:09] #200 closed

[2020-01-02 13:15] junbujianwpl opened #206 "electron-rebuild failed"
I want to use this in my electron project, but fail to install.
* OS: win10 x64
* node: 13.5.0
* electron: 5.0.10
* yarn:  1.19.2
* npm: 6.13.4
* problem: Install node-libcurl succeed but electron-rebuild failed
* produce: run the script for electron on windows as follow

~(As for macOs@10.15 Catalina, I cannot create /usr/include dir even with root privilege. I didn't try to disable the SIP, whic

[2020-01-06 13:27] JCMais commented on #206
Could you share a sample code you are trying to run so I can run it myself and try to find the problem?

[2020-01-07 17:54] yknx4 commented on #198
Maybe related, I got this when running on CircleCI
[code]

[2020-02-05 20:58] geo-dev-cr commented on #168
2020, till not working on Catalina OS f**k

[2020-02-06 15:19] JCMais commented on #168
@geo-dev-cr feel free to elaborate on the issue you are having and if possible posting a sample scenario to reproduce the issue. If it's not exactly the same than the one reported here, open a new issue.

Just commenting it's not working and saying the year is not going to help anyone.

[2020-02-29 20:57] JCMais commented on #205
I'm going to ugprade directly to 7.69.0 the weekend after it's released.

[2020-03-03 03:57] pranavwani opened #207 "Need to update Electron dependency"
@JCMais Please update the electron dependency as Electron `v8.0.0` is released.

[2020-03-13 13:57] shirshak55 opened #208 "mojave unable to install"
[code]

i tried to fix by
[code]

but it says
[code]

[2020-03-14 16:58] sznowicki commented on #177
@as-com did you maybe find something? Is this issue causing you any troubles on production?

[2020-03-14 17:27] as-com commented on #177
@sznowicki I am continuing to use the above stated workaround in production.

[2020-03-16 05:01] dima11221122 opened #209 "node-libcurl crashes accidentally on insecure request to host with bad ssl cert"
Hello. I want to make insecure request (ignore any problems with ssl certificates). But script crashes accidentally. Here is a script:
[code]

Here is a output.

[code]

[code]

[2020-03-16 07:55] dima11221122 commented on #209
The bug is reproduced from 2.0.1 version of node-libcurl. On 2.0.0 everything is ok

[2020-03-16 13:02] JCMais commented on #209
Would you be able to post the output for 2.0.0 too? Thanks!

[2020-03-16 14:15] dima11221122 commented on #209
Yes, sure

[code]

[2020-03-18 06:34] pranavwani commented on #207
Output:
node-pre-gyp info it worked if it ends with ok
node-pre-gyp info using node-pre-gyp@0.13.0
node-pre-gyp info using node@10.15.3 | linux | x64
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp info check checked for "/home/jsbot/development/Project/Firecamp/firesocket-react-extension/node_modules/node-libcurl/lib/binding/node_libcurl.node" (not found)
node-pre-gyp

[2020-03-18 06:37] pranavwani commented on #207
Throw following error, electron v8.0.0 with node-libcurl v2.0.3 not found
Output:
node-pre-gyp info it worked if it ends with ok
node-pre-gyp info using node-pre-gyp@0.13.0
node-pre-gyp info using node@10.15.3 | linux | x64
node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp info check checked for "/home/jsbot/development/Project/node_modules/node-libcurl/lib/binding/node_

[2020-03-19 15:59] shirshak55 commented on #208
upgraded to Catalina same issue.

[2020-03-19 21:07] JCMais commented on #208
Please see the README, there is a section for this error: https://github.com/JCMais/node-libcurl#building-on-macos

[2020-03-20 04:17] shirshak55 commented on #208
@JCMais  its not working thats the problem. There is no such file `/Library/Developer/CommandLineTools/Packages/macOS_SDK_headers_for_macOS_10.14.pkg`.

[2020-03-20 16:28] JCMais commented on #208
Have you installed Xcode Command Line Tools?

You need to have the dev header files available in `/usr/include`. I don't have a macOS available right now to test how to retrieve it on the latest OS version.

[2020-03-20 19:33] shirshak55 commented on #208
@JCMais I have xcode installed

In fact here is result
[code]
Here is directory structure
[code]

[2020-03-20 20:29] JCMais commented on #208
See if any of these fixes the issue:
https://stackoverflow.com/a/58436450/710693
https://apple.stackexchange.com/a/372600

[2020-03-21 14:33] dantium commented on #208
I'm also seeing this error with Mac OSX 10.15.3

These didn't seem to work for me, it still produces the same error.

[2020-03-21 19:04] obriankevin11 opened #210 "NO_DATA_PARSING undefined moving from 1.3.3"
Hi,

I can't find the change logs thus can't find what I have to replace this with.

Could you help please?

Thank you

[2020-03-23 14:01] JCMais commented on #210
Hi, sorry if the change log was not clear: https://github.com/JCMais/node-libcurl/blob/develop/CHANGELOG.md#breaking-change-1

On "Following members were moved to their own export" there is:

This means that `Curl.feature.NO_DATA_PARSING` is now `CurlFeature.NoDataParsing`.

`CurlFeature` can be imported normally from `node-libcurl`:
[code]

[2020-03-27 09:43] pranavwani commented on #207
@JCMais Will, it takes time?

[2020-03-27 12:59] JCMais commented on #207
I started to work on that last weekend, I will probably keep working on it this weekend, but cannot say if it's going to be finished by then.

[2020-03-27 16:35] pranavwani commented on #207
Thank you for your efforts, it really helps

[2020-04-03 13:26] pranavwani opened #211 "System Proxy support"
Is system proxy supported?

Currently library does not detect proxy set via environment variable(`http_proxy`).

[2020-04-05 14:55] JCMais opened #212 "Fix NW.js latest versions build on Windows"
Currently throwing an error on Windows: https://ci.appveyor.com/project/JCMais/node-libcurl/builds/31615817

[2020-04-05 15:12] JCMais opened #213 "Migrate from TSLint to eslint with typescript"
There should 0 new lint errors after migration

[2020-04-06 13:18] JCMais commented on #207
@pranavwani could you try the latest pre-release version? It can be installed using the `next` tag:
[code]

If it works this version is going to become `2.1.0`

[2020-04-06 13:19] JCMais commented on #205
Available on `node-libcurl@next` as a pre-release version, if everything works correctly, it will become `2.1.0` next week.

[2020-04-06 13:21] JCMais commented on #206
This should be fixed on the pre-release version, could you try?

[code]

[2020-04-06 13:42] JCMais commented on #208
@dantium @shirshak55

what is the output of running
[code]

?

[2020-04-06 14:13] shirshak55 commented on #208
[code]

[2020-04-06 14:20] JCMais commented on #208
@shirshak55 try passing the following env var before the install command:
[code]

example:
[code]

[2020-04-06 14:32] pranavwani commented on #207
ok, I'll check and let you know.

[2020-04-06 15:33] pranavwani commented on #207
@JCMais pre-release version is tested with electron version `8.1.0`. It works properly.👍️

[2020-04-06 15:38] JCMais commented on #207
thanks for taking the time to test, I will release `2.1.0` by the end of this week

[2020-04-06 16:09] pranavwani commented on #207
Thanks

Try to cover following options in testing:

**Method:**
- GET
- POST

**Request body**
- Multipart/form-data
- x-www-form-urlencoded
- JSON
- Text
- xml

**SSL**
- Option: `Curl.option.CAINFO` with `.PEM`
- Option: `Curl.option.PROXY_CAINFO` with `.PEM`

**Proxy**
- Option: `Curl.option.PROXY` with `https`

[2020-04-07 21:58] JCMais commented on #193
This is still an issue. It only happens with gzip enabled, as it happens with curl itself I've opened an issue there: https://github.com/curl/curl/issues/5200

[2020-04-07 22:24] JCMais commented on #193
Closing this as it's in fact not a curl bug, but the server is returning a broken response. See linked issue above for more details.

[2020-04-07 22:24] #193 closed

[2020-04-07 22:25] JCMais commented on #210
Closing as it has been answered

[2020-04-07 22:25] #210 closed

[2020-04-07 22:30] JCMais commented on #211
libcurl should detect this variable and use it, is that not working currently? Can you post some sample code / docker image?

[2020-04-08 01:07] JCMais commented on #204
Looks like this is in fact not necessary, the pre-release version available on `node-libcurl@next` is not using the find/dynamic require anymore. I will release it as 2.1.0 next week.

[2020-04-08 12:30] JCMais commented on #209
This probably was an issue with libcurl itself, seems to be fixed on the prerelease version available at `node-libcurl@next`, which uses libcurl 7.69.1, this version will be released as 2.1.0 next week.

[2020-04-08 14:08] JCMais commented on #177
I've tried again, with no luck, to debug this issue. Opened an issue on `nodejs/help` just in case someone else has a better idea on what might be causing this: https://github.com/nodejs/help/issues/2586

[2020-04-08 14:12] JCMais commented on #191
This was probably a bug with libcurl itself, the prerelease version of the addon available as `node-libcurl@next`, which uses libcurl 7.69.1, seems to work correctly. Please let me know if this is not the case.

This version will become `2.1.0` next week.

[2020-04-08 14:14] JCMais commented on #191
This was probably a bug with libcurl itself, the prerelease version of the addon available as node-libcurl@next, which uses libcurl 7.69.1, seems to work correctly. Please let me know if this is not the case.

This version will become 2.1.0 next week.

[2020-04-08 14:21] sznowicki commented on #177
Well written question there. Thanks a lot for keeping track of this issue. Highly appreciated.

[2020-04-08 14:29] pranavwani commented on #211
I think this is not issue actually, it is happening because of different environment

When try from terminal using `curl` library

endpoint: `http://localhost:3001`
proxy_server: `http://localhost:8080`

while try to execute,
code: `curl -v  http://localhost:3001`
Verbose:
`* Uses proxy env variable http_proxy == 'http://localhost:8080/'
*   Trying 127.0.0.1:8080...
* TCP_NODELAY set
* Connected t

[2020-04-08 14:31] vierarb commented on #191
Thank you, will try.

[2020-04-08 21:14] JCMais commented on #211
Glad you figured it out. Closing as it's not an issue.

[2020-04-08 21:14] #211 closed

[2020-04-08 21:16] JCMais commented on #208
Btw, I was finally able to upgrade my macOs to Catalina, looks like passing `npm_config_curl_include_dirs` fixes the issue per above.

[2020-04-10 02:21] JCMais commented on #177
296 days later this has been finally fixed 🎉🥳, for details see the issue above.

The fix is available on the prerelease version `2.1.0-4`, which can be installed with:
[code]

If everything works correctly, I will release the `2.1.0` version at the start of next week, I will close this issue when I do that.

[2020-04-10 17:53] tnolet commented on #177
@JCMais this is awesome. We really want to move to node-libcurl at https://checklyhq.com but this was a big blocker

[2020-04-11 18:42] sznowicki commented on #177
@JCMais big warm thank you for getting this done. Now it's time for me to finally migrate to @2 with my uptime-checker module.

Thank you!

[2020-04-12 16:54] JCMais commented on #177
Closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) has been finally released. 🎉

[2020-04-12 16:54] #177 closed

[2020-04-12 16:54] JCMais commented on #205
Closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see release page for full changelog) has been finally released. 🎉

[2020-04-12 16:54] #205 closed

[2020-04-12 16:55] JCMais commented on #207
@pranavwani as soon as I can I will add more tests, for now, I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

[2020-04-12 16:55] #207 closed

[2020-04-12 16:56] JCMais commented on #206
I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

[2020-04-12 16:56] #206 closed

[2020-04-12 16:56] JCMais commented on #209
I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

[2020-04-12 16:56] #209 closed

[2020-04-12 16:56] JCMais commented on #208
I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

If this is still an issue please re-open the issue.

[2020-04-12 16:56] #208 closed

[2020-04-12 16:57] JCMais commented on #204
I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

[2020-04-12 16:57] #204 closed

[2020-04-12 16:57] JCMais commented on #191
I'm closing this as [v2.1.0](https://github.com/JCMais/node-libcurl/releases/tag/v2.1.0) (see the release page for full changelog) has been finally released. 🎉

If this is still an issue please let me know by reopening this issue.

[2020-04-12 16:57] #191 closed

[2020-04-12 16:58] JCMais commented on #198
@yknx4 can you share a Dockerfile that is able to reproduce this issue?

[2020-04-13 04:31] dima11221122 commented on #209
Hurray!!! Thank you

[2020-04-15 20:09] carlovenus opened #214 "Pre-built binaries not found for node-libcurl@2.1.0"
Hi, i am unable to build my Meteor application due to

`node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/JCMais/node-libcurl/releases/download/v2.1.0/node_libcurl-v2.1.0-node-v57-darwin-x64-unknown.tar.gz
node-pre-gyp WARN Pre-built binaries not found for node-libcurl@2.1.0 and node@8.12.0 (node-v57 ABI, unknown) (falling

[2020-04-15 20:16] JCMais commented on #214
This is just the warning, can you post the whole installation log?

Could you share the packages you depend on? `node-libcurl` is probably a dependency from one of them.

About the warning itself, there are no pre-built binaries for Node.js v8 because it's on End-of-Life: https://github.com/nodejs/Release#end-of-life-releases

[2020-04-15 20:31] carlovenus commented on #214
Thanks for the quick reply.
The error log:

`CXX(target) Release/obj.target/node_libcurl/src/node_libcurl.o
clang: error: no such file or directory: '/usr/include'
make: *** [Release/obj.target/node_libcurl/src/node_libcurl.o] Error 1
gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/Users/****/.meteor/packages/meteor-tool/.1.8.1

[2020-04-15 20:46] JCMais commented on #214
You will have to follow the instructions here: https://github.com/JCMais/node-libcurl#building-on-macos

Could you share a [gist](http://gist.github.com/) with your yarn.lock / package-lock.json?

[2020-04-15 21:45] carlovenus commented on #214
Setting npm_config_curl_include_dirs="$(xcrun --show-sdk-path)/usr/include" as environment variable worked for me.
Thank you for the support!

[2020-04-15 21:45] #214 closed

[2020-04-22 10:07] eAmin opened #215 "Can not build for Node.js v14"
Build failure on node.js v14  both Ubuntu 18.04 and Windows 10 both failed:

log:
[code]

[2020-04-22 11:25] JCMais commented on #215
Here is the error:

Check the README about building from source: https://github.com/JCMais/node-libcurl#building-on-linux

[2020-04-23 04:10] eAmin commented on #215
Thank you, it worked.

[2020-04-23 04:10] #215 closed

[2020-04-24 00:21] nicoburns commented on #215
Are there plans for a release with prebuilt binaries for Node 14?

[2020-04-24 01:41] JCMais commented on #215
@nicoburns working on it ;)

[2020-04-24 02:30] JCMais commented on #215
@nicoburns there are prebuilt binaries for Node.js 14 now.

[2020-04-24 09:37] nicoburns commented on #215
@JCMais Perfect. Thank you for the quick turnaround on this! Our backend services are now all updated to Node 14 :)

[2020-04-24 13:22] JCMais commented on #198
Closing this as I cannot reproduce it, if someone can come up with a Dockerfile that consistently reproduces the problem feel free to reopen the issue.

[2020-04-24 13:22] #198 closed

[2020-04-28 01:37] plexnum opened #216 "after closing the handler TCP-IP connection not closed"
after executing this.close() TCP connection to proxy still ESTABLISHED. How to close the TCP-connection?

[2020-04-28 02:07] #216 closed

[2020-04-29 00:58] TaquitoSlayer opened #217 "Building on Electron causes NODE_MODULE_VERSION conflict"
`npm_config_build_from_source=true npm_config_runtime=electron npm_config_target=v8.1.0 npm_config_disturl=https://atom.io/download/atom-shell npm_config_curl_include_dirs="$(xcrun --show-sdk-path)/usr/include" yarn add node-libcurl `

I ran this, as well as used the #develop branch, and I still get the following:

The only reason why I'm trying to build from source right now is because when using

[2020-04-29 03:22] #217 closed

[2020-04-29 11:45] JCMais commented on #217
@TaquitoSlayer have you got it to work?

There are no prebuilt binaries for ELectron 8 on the `v2.0.3` version, I recommend you to use `v2.1.1` instead.

[2020-05-04 08:30] danielecr opened #219 "Benchmarking context switching"
This morning I had a discussion about benchmark result.
Some way it come out there is not real use-case for 1000 continuous requests, most of the time an application is doing "somethingelse" between a request (or group of requests), and another.

Of course the tests should be reproducible, and the benchmark well defined, so this "something-else" must be of constant cost, or in a predefined distrib

[2020-05-04 10:44] JCMais commented on #219
Sure, I thought about that but didn't have time to create something related. Feel free to do so.

Some options:
1. Some loop doing something that blocks the UI
2. Call some crypto library and have it do some hashing
3. Something else?

[2020-05-04 11:22] danielecr commented on #219
I like option 2. that is more versatile and less invasive. I save a time-slot for tomorrow, I hope to commit something

[2020-05-09 12:33] JCMais opened #220 "Postbuild script is not removing build folder on electron / nwjs after installation"
We must include the cleanup step in here too:
https://github.com/JCMais/node-libcurl/blob/acfa47a11d8f95e0da078c15b46dfd442b494a00/scripts/postinstall.js#L53-L57

[2020-05-09 15:51] #220 closed

[2020-05-09 22:52] JCMais opened #221 "Add GitHub actions to free more runners on AppVeyor"
Currently AppVeyor is the CI that takes the longest time, we should be able to move some builds to GitHub actions.

[2020-05-14 16:59] timsuchanek opened #222 "How to post `application/json` with `curly`?"
Hi, I'm trying to send a json payload, basically this in fetch:
[code]

This is what I try with curly:
[code]
But that can't be parsed by any webserver that I'm posting it to (trying Rust Hyper and https://pipedream.com/)

What am I doing wrong?

Thanks!

[2020-05-14 17:23] JCMais commented on #222
Weird, could you enable verbose mode and post the output here? Just pass `verbose: true`.

Your error is probably TLS related. By default, the built libcurl version has no bundled CA file, so it cannot verify if the server certificates are valid or not. You are probably getting this error:
[code]

I tried here with a valid CA file and it worked:
[code]

There are multiple ways to obtain a valid CA

[2020-05-14 17:44] JCMais commented on #222
If the above still does not work, could you try the pre-release version available at `node-libcurl@next`?

I made some fixes to the HTTP methods available as keys on the `curly` object, It's another possible reason for the issue you are seeing.

[2020-05-14 17:53] JCMais opened #223 "Research ways to create some API Documentation"
While the codebase being written in TypeScript and having types for almost all public methods helps during library usage, it would be helpful to have online documentation available somewhere, probably with github pages.

Months ago I tried to generate one using `@microsoft/api-documenter` and `@microsoft/api-extractor`, but didn't have success.  Most of the issues are somewhat related to this: htt

[2020-05-15 09:34] timsuchanek commented on #222
Yes! Your fix of `node-libcurl@next` indeed fixed my issue!
Thanks a lot!
It was not related to CA files, because even just a local Rust server was returning `404`.

[2020-05-15 09:34] #222 closed

[2020-05-15 10:58] JCMais commented on #222
Glad it is working now. I will release a new patch version with the fix this weekend.

[2020-05-28 00:01] JCMais opened #224 "Build prebuilt addon libcurl with ca bundle"
This can be done by passing the option `--with-ca-bundle`. Doing that would make it much easier to use the library with `https` sites, as the client would not be required to pass [`CURLOPT_CAINFO`](https://curl.haxx.se/libcurl/c/CURLOPT_CAINFO.html) anymore.

Node.js version >= `v12.3.0` exposes the certificates it was bundled with, we could use them at build time: https://nodejs.org/api/tls.html#

[2020-05-28 00:02] JCMais commented on #223
`typedoc` seems to work great, working on some documentation now. 🎉

[2020-05-28 22:25] JCMais commented on #223
http://jcmais.github.io/node-libcurl/modules/_index_.html

We now have API docs 🥳

[2020-05-28 22:25] #223 closed

[2020-05-29 00:22] JCMais commented on #224
Using  `--with-ca-bundle` is in fact not possible, as it does not embed the bundle on the libcurl library itself, it's checked at runtime.

[2020-05-29 12:53] JCMais commented on #224
https://github.com/curl/curl/pull/4679 might be what we need.

[2020-06-02 09:17] ddolcimascolo opened #226 "Installation failure in v2.1.2"
Hi guys,

We just upgraded to v2.1.2 a few hours ago and our build started to fail

Relevant log lines:
[code]

Can you advise on what went wrong?

Thanks,
David

[2020-06-02 13:12] JCMais commented on #226
Hi @ddolcimascolo , thanks for opening this issue.

This was in fact an issue with the release, due to caching during the build process, some files were not generated correctly, I've just released `2.1.3` with this fixed, it should take a few minutes until all prebuilt binaries are available.

`2.1.2` is deprecated, as it's broken.

[2020-06-02 14:29] ddolcimascolo commented on #226
Thx for the quick response @JCMais !

Regards,
David

[2020-06-02 14:33] #226 closed

[2020-06-02 17:53] ejoebstl opened #227 "Aborting a request"
I'd like to abort a request from the `on('data', ...)` event listener, when the response size is larger than a certain threshold. My approach is the following:

[code]

However, this crashes with an unhandled error: `TypeError: Could not remove easy handle from multi handle.`.

What would be the correct way to abort a running request and stop receiving any data?

[2020-06-02 18:44] JCMais commented on #227
You cannot close the handle inside any of the event listeners callback, I probably should make this clearer in the docs, or just have it throw a better error instead.

To accomplish what you want you will need to specify your own `WRITEFUNCTION` option, which is the libcurl option responsible for writing the data received from the request. See the libcurl documentation for details: https://curl.ha

[2020-06-02 21:04] ejoebstl commented on #227
Okay, that definitely helps. Thanks a lot!

[2020-06-02 21:24] JCMais commented on #227
Glad it worked. 😄

Closing this for now, feel free to reopen if there are still issues.

[2020-06-02 21:24] #227 closed

[2020-06-12 10:22] ronag opened #228 "Node 14 support"
Doesn't seem to be possible to install with Node 14.

[code]

[2020-06-12 12:30] JCMais commented on #228
2.0.3 has no prebuilt binaries for Node.js v14, so it will try to build from source.

The error you are getting:
[code]
Is described on the README: https://github.com/JCMais/node-libcurl#building-on-macos

[2020-06-12 12:30] #228 closed

[2020-06-13 04:08] pranavwani opened #229 "How to send ArrayBuffer"
Description: How to send binary data, as Curl.option.POSTFIELDS` only allow sending `string` and `Curl.option.HTTPPOST` allow to sending the form data

Request Payload:
[code]

[2020-06-15 14:29] JCMais commented on #229
Hi, you want to use the `READFUNCTION` function, an example with streams is available at https://github.com/JCMais/node-libcurl/blob/6695c91987c6d8a0782cb5a769fb208bf00fea8d/examples/08-file-upload-stream.js

[2020-06-15 15:34] pranavwani commented on #229
Thanks, @JCMais for put attention on this query. I will try to implement as you suggested.

Specific reason to sending buffer over HTTP API is: request payload is encoded via `protobuf`. To keep the benefits of `protobuf` to sending binary data over HTTP API raised the query.

[2020-06-15 20:47] JCMais commented on #229
No problem, please let me know if you have any issues

[2020-06-17 21:49] JCMais commented on #229
@pranavwani I've added an example showing how to send binary data, like in your specific scenario, sending protobuf encoded data: https://github.com/JCMais/node-libcurl/blob/develop/examples/19-binary-data-protobuf.js

[2020-06-18 01:57] pranavwani commented on #229
Thanks Jonathan for help.

[2020-06-18 12:26] MoMannn opened #231 "http2 does not work"
Setting `HTTP_VERSION` option to `CURL_HTTP_VERSION_2_PRIOR_KNOWLEDGE` still sends http1.1 request.

I tried with Curl:

`curl.setOpt('URL', 'http://localhost:3000');
  curl.setOpt('HTTP_VERSION', 'CURL_HTTP_VERSION_2_PRIOR_KNOWLEDGE');`

And with curly:

`const response = await curly.get('http://localhost:3000', {
     HTTP_VERSION: 'CURL_HTTP_VERSION_2_PRIOR_KNOWLEDGE'
  })`

[2020-06-18 12:45] JCMais commented on #231
Hi.

This is not how you are supposed to set it, you must use one of the values from the `CurlHttpVersion` object:
[code]

For the possible values see https://jcmais.github.io/node-libcurl/enums/_enum_curlhttpversion_.curlhttpversion.html

Sorry if this is not clear in the documentation.

[2020-06-18 12:46] #229 closed

[2020-06-18 12:49] MoMannn commented on #231
Yeah documentation only points to: https://curl.haxx.se/libcurl/c/CURLOPT_HTTP_VERSION.html

No prob, thanks for quick response, it works now :)

[2020-06-18 12:49] #231 closed

[2020-06-18 12:54] JCMais commented on #231
I see, those names on libcurl documentation are C constants declared by libcurl, if you see them in other options they probably have a corresponding object in this library, if they don't or the option is not supported, or we have a missing option, which should be reported.

[2020-06-18 13:01] MoMannn commented on #231
@JCMais I am guessing [piplining / multiplexing](https://curl.haxx.se/docs/http2.html) option is not yet supported?

[2020-06-18 13:12] JCMais commented on #231
It's, but then you will need to handle your own `Multi` instance, as it's currently not possible to change options on the one used internally by `Curl` or the `curly` function (which internally uses `Curl`). For an example on how to use the `Multi` instance directly, see [`examples/04-multi.js`](https://github.com/JCMais/node-libcurl/blob/02f813b9a7928b4c72916fc917cdc258a46e2e19/examples/04-multi.

[2020-06-18 13:13] MoMannn commented on #231
Thanks. I need it for http2 so no problems here.

[2020-06-19 12:32] MoMannn commented on #231
@JCMais Do you maybe have a similar example for push (push_promise) like you do for multi?

[2020-06-19 13:51] JCMais commented on #231
`CURLMOPT_PUSHFUNCTION` is currently not supported by the binding, so it's not possible to accept push_promise frames currently. If you think this would be a great feature to have please create a new issue with the feature request and I should be able to take a look into it next week (or if you can, pull requests implementing it are also welcome)

[2020-06-20 08:30] MoMannn opened #232 "Support for CURLMOPT_PUSHFUNCTION and CURLMOPT_PUSHDATA (http2 push functionality)"
Bindings for above functionalities are not yet supported which are integral to a http2 client.

[2020-06-23 00:46] JCMais commented on #232
I should be able to add some basic support for this feature in the following days.

The plan is to make it available in a pre-release version for `v2.2.0`, so it can be tested before being released.

[2020-06-26 22:00] JCMais commented on #232
@MoMannn I've just added support for `CURLMOPT_PUSHFUNCTION`, sample code can be found at [`./examples/20-http2-server-push.js`](https://github.com/JCMais/node-libcurl/blob/develop/examples/20-http2-server-push.js)

For more documentation see the overloaded method documentation temporarily available here: https://jovial-kilby-4334c9.netlify.app/classes/_multi_.multi.html#setopt

Also, I've created

[2020-06-29 12:51] JCMais opened #233 "Add support for QUIC - HTTP/3"
OpenSSL does not provide a production-ready version with QUIC enabled, we will need to wait until then: https://github.com/openssl/openssl/pull/8797

For the QUIC/HTTP3 backend we will need to use `ngtcp2` as `quiche` only works with BoringSSL.

To test the QUIC implementation, the `ngtcp2` team offers a patched `OpenSSL` version with QUIC support here: https://github.com/tatsuhiro-t/openssl/tree/

[2020-06-29 22:05] JCMais commented on #232
Documentation's link is now https://develop--node-libcurl-docs.netlify.app/classes/_multi_.multi.html#setopt

[2020-06-30 13:06] BitFis commented on #233
Dockerfile to test with the latest curl version support quic-draft-29

<details>
<summary>Dockerfile</summary>

[code]

</details>

<details>
<summary>simple-client.js</summary>

[code]

</details>

Prebuilt version: https://hub.docker.com/repository/docker/bigsisl/node-libcurl-http3

[2020-06-30 14:07] BitFis commented on #233
llnode dump;
[code]

[2020-06-30 15:56] BitFis commented on #233
Found some things,  a `ng_flush_egress(conn, sockfd, qs)` fails with `CURLE_SEND_ERROR`. This happens at:
https://github.com/JCMais/node-libcurl/blob/c563f5efadb1972aca95e3f936ce1ed4779e8c25/src/Multi.cc#L164-L165

I am not sure if the bug lies with node-libcurl or curl it self. It does seems strange thought, since after the `CURLE_SEND_ERROR` libcurl tries to disconnect and the ssl pointer seems

[2020-06-30 16:12] JCMais commented on #233
Could you check if you are using the same OpenSSL version than the one being used by the Node.js you are building against?

You can get the Node.js OpenSSL version by running `node -e "console.log(process.versions)"`.

If they are different, this can cause some weird issues, like the one you are having. The akamai fork has some branches for the latest OpenSSL versions: https://github.com/akamai/op

[2020-06-30 16:30] BitFis commented on #233
I am testing it locally again, but in the container i use `OpenSSL_1_1_1g-quic-draft-29` and

[code]

Therefore might be something else

[2020-06-30 16:40] BitFis commented on #233
Nope, getting the same error `CURLE_SEND_ERROR` followed by SIGFAULT

[2020-06-30 16:47] JCMais commented on #233
The same error happens when using only an `Easy` instance?

Just in case you want to check if this happens with libcurl only, there are some sample code available on libcurl documentation that you can use, like https://curl.haxx.se/libcurl/c/http3.html and https://curl.haxx.se/libcurl/c/multi-uv.html.

The second example above would be almost exactly what we do in the addon when you use a `Multi`

[2020-07-01 12:59] BitFis commented on #233
Seems like bare multi-uv and http3 example work with the version I compiled, I will try to run those examples now as part as nodejs callbacks, hopefully I will figure something out.

<details>
<summary>Sourcecode & Results</summary>

*CMakeLists.txt*
[code]

*mutli-uv.cpp*
[code]

*main.cpp*
[code]

*Res*
[code]

</details>

[2020-07-05 05:39] im-sunil opened #234 "npm_config_runtime=electron npm_config_target=$(yarn --silent electron --version) npm_config_disturl=https://www.electronjs.org/headers yarn add node-libcurl Failed"
error /Users/sunilbagde/code/my-app-e/node_modules/node-libcurl: Command failed.
Exit code: 1
Command: node-pre-gyp install --fallback-to-build
Arguments:
Directory: /Users/sunilbagde/code/my-app-e/node_modules/node-libcurl
Output:
node-pre-gyp info it worked if it ends with ok
node-pre-gyp info using node-pre-gyp@0.14.0
node-pre-gyp info using node@10.16.0 | darwin | x64
node-pre-gyp WARN Using r

[2020-07-05 05:47] im-sunil opened #235 "Installation get failed"
error /Users/code/my-app-e/node_modules/inlc: Command failed.
Exit code: 127
Command: node scripts/postinstall && rimraf build
Arguments:

yarn -v.   1.22.4
node -v   v10.16.0
npm  -v   6.14.1
Python 2.7.16 (default, Nov  9 2019, 05:55:08)
Mac os Catalina 10:15.2

[2020-07-05 12:10] #235 closed

[2020-07-05 12:10] im-sunil commented on #235
Fixed

[2020-07-05 12:10] #234 closed

[2020-07-05 12:11] im-sunil commented on #234
Fixed

[2020-07-09 23:19] ronag opened #236 "API link broken"
https://jcmais.github.io/node-libcurl/modules/_index_.html

[2020-07-09 23:21] ronag opened #237 "streams api for upload/download?"
Support for node streams in an upload/download API would be useful.

[2020-07-10 01:01] JCMais commented on #236
Link is now https://node-libcurl-docs.netlify.app/

I will keep this issue open until a new release this weekend, which should update the readme on npm.

[2020-07-10 01:02] JCMais commented on #237
This _could_ be added to the `Curl` and/or `curly` wrappers. But I don't have time right now to implement it. If anyone is willing to work on this feature feel free to comment or post on the Discord channel.

[2020-07-13 21:11] JCMais commented on #232
@MoMannn in case you have tried the feature, did it work as you expected?

Planning on releasing v2.2 tomorrow.

[2020-07-13 23:32] gschier opened #238 "Add prebuilt binaries for Electron 9"
Electron 9.0 is out, which means the prebuilt binaries should be updated to support it if possible 🥂

https://www.electronjs.org/releases/stable?page=2#9.0.0

[2020-07-13 23:34] gschier commented on #238
Note, we are currently upgrading Electron for [Insomnia](https://github.com/Kong/insomnia), which is how I noticed this. We can upgrade to 8 for now so the priority on this isn't major. Our team can also help with the effort if necessary 👍

[2020-07-14 01:25] JCMais commented on #238
I should be able to do that tomorrow with the release of `v2.2`

[2020-07-14 13:49] MoMannn commented on #232
Not yet, will start working on it today.

[2020-07-14 17:35] gschier commented on #238
Awesome, thanks @JCMais! 🙏

[2020-07-14 23:04] JCMais commented on #238
@gschier `v2.2.0` with prebuilt binaries for Electron v9 has been released, it should take a while until all binaries are available though.

[2020-07-14 23:04] #238 closed

[2020-07-14 23:05] JCMais commented on #232
@MoMannn I've released `v2.2.0`, if you find any issues with this option feel free to create an issue. 👍

[2020-07-14 23:05] #232 closed

[2020-07-16 21:30] JCMais opened #240 "RFC: add automatic response parsing based on content-type to the curly API and lowercase all headers"
Hi everyone,

This is mostly an issue to get feedback around a feature that I suppose most people expect when using a request library with Node.js, which is automatic response parsing.

I do not want to add any kind of automatic parsing, besides the existing one, to the Curl/Easy/Multi APIs, but as the `curly` is supposed to be less `libcurl` like, I see no problems adding something like that to i

[2020-07-17 21:36] gschier commented on #238
Thanks @JCMais. Should it be 9.1 instead of 9.0, however?

[2020-07-18 00:06] JCMais commented on #238
You are right, I will submit the binaries again

[2020-07-19 11:14] sleepingforest20 commented on #212
please compatible with Termux. node Linux 72 Android 64 unknown.

[2020-07-21 22:52] gschier commented on #238
Nice, thanks!

[2020-07-22 01:05] JCMais commented on #236
Readme on npm should be updated

[2020-07-22 01:05] #236 closed

[2020-07-29 12:39] algv opened #241 "JavaScript heap out of memory"
"JavaScript heap out of memory" for POST large files. Example:

[code]

Out:

**If use other test, with Buffer:**

[code]

Out:

ubuntu 19.10 , node 12.18.2

[2020-07-29 13:30] JCMais commented on #241
For upload large files you have a few options:
Use `CURLOPT_HTTPPOST`, which allows for multipart/form-data uploads, example here: https://github.com/JCMais/node-libcurl/blob/develop/examples/08-file-upload-post.js

Use [`CURLOPT_READFUNCTION`](https://curl.haxx.se/libcurl/c/CURLOPT_READFUNCTION.html) option with the [`CURLOPT_POST`](https://curl.haxx.se/libcurl/c/CURLOPT_POST.html) enabled, this

[2020-07-30 21:51] RodolfoGS opened #242 "Are any debug mode to print the exact curl command that was executed?"
Exists an option like "debug mode" to print the exact curl command that was executed?

I tested with `curl.setOpt(Curl.option.VERBOSE, 1);` but I need print the exact command that was executed.

For example:
[code]

[2020-07-30 23:56] JCMais commented on #242
Hi, the `curl` tool is different than the [`libcurl`](https://curl.haxx.se/libcurl/) C library. The `curl` tool uses `libcurl` internally.

This addon allows Node.js to call into libcurl functions directly, it does not use the `curl` binary, but C library directly, so having a debug method as you mentioned is not possible. You can build such output by keeping track of every option you have set and

[2020-07-30 23:56] #242 closed

[2020-07-31 06:20] algv commented on #241
CURLOPT HTTP POST and CURLOPT_READFUNCTION work, thanks. Are you have idea, how catch memory allocation (heap size) problem?

[2020-07-31 11:58] JCMais commented on #241
If you mean catching the error so that it does not kill the Node.js process, I don't think there is an easy way to do that.

Closing as the issue is fixed.

[2020-07-31 11:58] #241 closed

[2020-08-25 07:05] MaisumAbbas opened #243 "Windows Build Failed"
Everytime I try to install node_libcurl on windows using visual studio code, it throws an error:

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/JCMais/node-libcurl/releases/download/v2.2.0/node_libcurl-v2.2.0-node-v79-win32-x64-unknown.tar.gz
node-pre-gyp WARN Pre-built binaries not found for node-libcurl@2.2.0 and node

[2020-08-25 11:05] JCMais commented on #243
There are no prebuilt binaries for Node.js v13, so the addon is falling back to building from source.

The error you are getting is related to Git:
[code]

So you have two options, use Node.js v14, which has prebuilt binaries available, or try to fix the error you are getting (Looks like it's related to this: https://stackoverflow.com/questions/49256190/how-to-fix-git-sh-setup-file-not-found-in-wi

[2020-08-27 04:43] MaisumAbbas commented on #243
I first tried the v14 but it was taking too long to get any response. So I tried the given link and added the env variables to Path and it worked. Thank you so much.

[2020-08-27 04:44] #243 closed

[2020-08-30 18:07] lichaar opened #244 "electron build fails when using GCC 9.2.1"
Using [electron forge](https://www.electronforge.io/) (which uses electron-rebuild eventually) to build electron and native dependencies, Build fails with the following error:

[code]

I found out this error happens because `node-gyp` is using  Python 3 instead of 2, and node-libcurl needs Python 2 to be built.

I have tested this on a machine with only Python 2 installed and everything worked as

[2020-08-30 18:42] JCMais commented on #244
Python should not be the issue. From searching for similar errors it looks like this is probably due to using GCC 9, can you try using GCC 8 or 7 and see if it works? Or upgrading to the latest version of GCC if it's available.

[2020-08-30 20:07] lichaar commented on #244
You were absolutely correct, Updating GCC from 9.2.1 to 9.3.0 solved the issue. Maybe it's worth noting in the documentation ;)
You my friend saved me a lot of headaches and I thank you for that.

[2020-08-31 18:25] JCMais commented on #244
Glad you got it working, I've edited the title so it should be easier to search for.

[2020-08-31 18:25] #244 closed

[2020-09-04 07:55] gsouf commented on #73
Still happening in recent versions.

[2020-09-04 10:43] JCMais commented on #73
@gsouf are you able to post some code that can reproduce the memory leak you are having?

[2020-09-07 13:02] gsouf opened #245 "Limit file size download"
We are running node-libcurl in docker containers with limited amount of memory (ie 128MB).

We have issues we curl downloads files larger than the memory available. It seems to buffer the full file in memory and pushes the container to go OOM. We would need to be able to limit the amount of data that curl is allowed to download.

I see the existence of the option [maxfilesize](https://curl.haxx.se

[2020-09-07 13:03] gsouf commented on #73
@JCMais I think the issue might be somehow different to what I thought. It appears to be related to downloading large files see  #245

[2020-09-07 13:42] JCMais commented on #245
This is the default way data is handled, as most of the time clients would be using the library to access APIs or other text-based responses.

However this does not work great with binary/bigger files. For that, you probably are better off using your own data handling, this can be done two ways:

- enabling the `Raw` flag: `curlHandle.enable(CurlFeature.Raw)`
  Doing that the data argument passed

[2020-09-07 13:48] gsouf commented on #245
@JCMais amazing thank you, I'm going to try those. Does the `WRITEFUNCTION` approach allows to access http headers before body is received?

[2020-09-07 13:50] JCMais commented on #245
you can also use `HEADERFUNCTION` to capture the headers the same way.

[2020-09-07 15:04] gsouf commented on #245
@JCMais thanks you're a rockstar 👨‍🎤

I figured out that all that stuff is native curl stuff. I came up with a solution more tailored to my needs and here is my humble contribution to anyone who would also struggle with download limits.

What I do instead of using the propose `WRITEFUNCTION` is to use `XFERINFOFUNCTION`. It allows to abort the transfer as soon as the download size exceed a value o

[2020-09-07 15:04] #245 closed

[2020-09-07 15:37] JCMais commented on #245
Oh, that is much better!

Thanks for posting the full solution. Feel free to open another issue if you have any other questions.

[2020-09-09 16:24] mjgp2 opened #246 "Silent exit of node.js"
I have a situation where I am using Multi/Easy and node.js is exiting with a zero exit code randomly on both OSX and docker when using curl multi. I have tried node 14 and 12. I have tried the bundled binary and building from source via the `npm install` flag.

There is no details of any segfault, no uncaught exceptions and no unhandled rejections.

It happens randomly right after calling `multi.a

[2020-09-09 16:39] JCMais commented on #246
I cannot think of anything that would cause this. Please provide a Dockerfile that can reproduce it and I will happily take a look.

[2020-09-10 13:21] JCMais opened #247 "Add default options param to curly.create"

[2020-09-10 13:38] mjgp2 commented on #246
Yes, I hope to provide in the next few days. Thanks for the reply!

[2020-09-11 11:04] mjgp2 commented on #246
This is a node.js issue, I have pinpointed it and will try to file upstream bug. Closing this.

[2020-09-11 11:04] #246 closed

[2020-09-11 21:29] avie opened #248 "Easy not setting default user agent?"
I'm using Easy and ran into a problem where a website was rejecting requests.  I had old code using Curl that worked fine.  After comparing the network traffic I noticed that Easy was not sending a user-agent (!).  I manually set the USERAGENT and lo and behold it was sent and worked just like when using Curl.

It is possible Easy isn't setting a default user-agent?

[2020-09-11 21:40] JCMais commented on #248
Hi!

Using the Easy interface directly does not set anything on the request by default. You must do that manually. This is the way libcurl also works

The Curl interface (which is also used by the curly.[method] functions) on the other hand, sets a default user agent: https://github.com/JCMais/node-libcurl/blob/70805fe19b937f2873643e20d90e1cd9cd77e3f7/lib/Curl.ts#L174-L182

I'm not willing to add

[2020-09-11 21:44] avie commented on #248
Good to know.  Is there perhaps a list of other differences like this one?  I'm starting to repurpose some Curl code as Easy code to get easy synchronous operation and am a bit worried there might be other pitfalls!

[2020-09-11 21:57] JCMais commented on #248
By saying Curl do you mean the command-line tool or using the C library libcurl?

If using `libcurl` directly, the Easy interface should be almost exactly the same than using the `curl_easy_*` functions, there are a few options that are not supported, but those are mostly related to stuff that is easy to do with JS directly or too hard to put into this binding.  For a full-list go here: https://gi

[2020-09-11 21:59] avie commented on #248
Yep, I meant the Curl interface (in node-libcurl)!  It also looks like Cookie handling might be different.  Still debugging though.

[2020-09-11 22:02] JCMais commented on #248
If you want to see what is the default `HEADERFUNCTION` / `WRITEFUNCTION` being used by the `Curl` interface, here are they:

https://github.com/JCMais/node-libcurl/blob/70805fe19b937f2873643e20d90e1cd9cd77e3f7/lib/Curl.ts#L305-L331

The `Curl` interface uses an internal `Multi` handle to take care of the internal `Easy` ones, here is their callback:
https://github.com/JCMais/node-libcurl/blob/708

[2020-09-16 19:42] keirankozlowski opened #250 "Unable to run on node v13.12.0 and v14.11.0"
Installed the package and attempted to start, giving me a "module not found" error. See below:

[code]

[2020-09-17 01:00] JCMais commented on #250
Hi @keirankozlowski , do you have some steps I can try to reproduce the issue?
I see you are using webpack, did you install the [`node-loader`](https://github.com/webpack-contrib/node-loader)?

[2020-09-21 17:09] JCMais opened #251 "Improve toos/retrieve-win-deps.js"
https://github.com/JCMais/node-libcurl/blob/70805fe19b937f2873643e20d90e1cd9cd77e3f7/tools/retrieve-win-deps.js#L151-L195

This can be improved by opening a file descriptor for each file just a single time, and also use the promise versions of the `fs.*` calls. This would allow us to use `Promise.all` and have all the search / replace operations to run at the same time.

https://github.com/JCMais/

[2020-09-21 23:33] #251 closed

[2020-09-21 23:35] JCMais commented on #251
I will keep exec for now as it is simpler for our particular use case. The commands we are running do not have that huge output and should return almost immediately.

[2020-09-27 14:50] #213 closed

[2020-09-27 14:50] #247 closed

[2020-09-27 14:53] JCMais commented on #240
This was added in the above commits.

[2020-09-27 14:53] #240 closed

[2020-09-27 14:55] JCMais commented on #248
Closing this as looks the original issue was resolved. Feel free to open a new one if you have any other issue.

[2020-09-27 14:55] #248 closed

[2020-09-27 16:21] JCMais commented on #237
Recently I've been giving some thought to this feature. What do you think would be the best way to implement this @ronag ?

Here are some alternatives I've been thinking:

### Curl.prototype.perform would return a Duplex stream when the `Streamable` feature is enabled (this would override all other feature flags we have so far).

[code]

// upload and/or download data

Making `Curl` itself a `Dupl

[2020-09-29 01:46] JCMais commented on #237
I've decided to go with the latter, here is the proposed API (showing both download and upload):

### curly
[code]

### Curl

[code]

### Notes

- When using `curlyStreamResponse: true`, if an error is thrown in the `Curl` instance after the `curly` call has been resolved (it resolves as soon as the stream is available) it will cause an error event to be emitted on the stream itself, so the consum

[2020-10-10 14:44] JCMais commented on #237
Closed via https://github.com/JCMais/node-libcurl/pull/252

[2020-10-10 14:44] #237 closed

[2020-10-10 16:23] JCMais commented on #250
Closing due to inactivity, if you have some code that is able to reproduce this, feel free to reopen the issue.

[2020-10-10 16:23] #250 closed

[2020-10-11 15:54] JCMais opened #253 "Add support for CURLOPT_*_BLOB options"
[code]

Example usage:

[code]

[2020-10-21 05:23] AsifArko commented on #73
For the request below I couldn't specify the `-X BAN` part with node-libcurl. Can anyone assist me please ?
curl -is http://localhost:8080/ -X BAN -H "x-ban: ^/sports" -H "x-authorization: 123123123"

`const curl = new Curl();
  const close = curl.close.bind(curl);

  curl.setOpt('URL', `http://${varnishHost}:${varnishPort}`);
  curl.setOpt(Curl.option.HTTPHEADER, ['x-ban: ^/sports', `x-authorizat

[2020-10-21 05:25] AsifArko opened #254 "How to set the -X param from curl with node-libcurl"
For the request below I couldn't specify the -X BAN part with node-libcurl. Can anyone assist me please ?
[code]

[code]

This is the snippet I am using. I don't exactly know how to set the -X param to BAN with libcurl. Thanks in advance

[2020-10-21 13:19] JCMais commented on #254
You are looking for the [`CUSTOMREQUEST`](https://curl.haxx.se/libcurl/c/CURLOPT_CUSTOMREQUEST.html) option.

[2020-10-30 12:45] #254 closed

[2020-11-05 09:31] ronag opened #256 "Doesn't build on Node 15"

[2020-11-06 11:31] liben96 opened #257 "NODE_MODULE_VERSION issue node 12.16.3"
Hi,
After installing v.2.2.0 by using 'npm install' or 'yarn', I am facing the following error:

Error: The module '/home/prov-dev/umee-provisioning/umee/node_modules/node-libcurl/lib/binding/node_libcurl.node'
was compiled against a different Node.js version using
NODE_MODULE_VERSION 72. This version of Node.js requires
NODE_MODULE_VERSION 64. Please try re-compiling or re-installing

I'm using n

[2020-11-06 14:08] JCMais commented on #257
Are you sure you are using Node.js v12 to run your code? `NODE_MODULE_VERSION 64` is the version for Node.js 10, while the addon was built for version 12 (ABI 72).

[2020-11-06 14:36] liben96 commented on #257
Thanks for your answer.
Yes, i am 100% sure that i am using node v12 (see the image attached).

I am using nvm and i have tried different versions of node (10, 12 and 14 - last one). You can see the error highlighted in red.[](url)

![node-lib-curl](https://user-images.githubusercontent.com/11990892/98378049-d139f200-2045-11eb-8738-5f5ddc2be486.png)

[2020-11-06 18:41] JCMais commented on #257
Can you run `console.log(process.versions)` right above the code you are requiring node-libcurl?

[2020-11-07 10:07] liben96 commented on #257
This is what I get:

 { http_parser: '2.8.0',
  node: '10.6.0',
  v8: '6.7.288.46-node.13',
  uv: '1.21.0',
  zlib: '1.2.11',
  ares: '1.14.0',
  modules: '64',
  nghttp2: '1.32.0',
  napi: '3',
  openssl: '1.1.0h',
  icu: '61.1',
  unicode: '10.0',
  cldr: '33.0',
  tz: '2018c' }
internal/modules/cjs/loader.js:718
  return process.dlopen(module, path.toNamespacedPath(filename));

[2020-11-07 14:43] JCMais commented on #257
I'm closing as this is not really an issue with this library.

Now related to the issue you are seeing, make sure that forever is using the correct version of Node.js you want it to use.

This could be helpful: https://stackoverflow.com/questions/16229921/forever-with-two-node-versions-installed-specify-a-node-version-to-run-with

Keep in mind that the shell forever uses probably does not have nvm

[2020-11-07 14:43] #257 closed

[2020-11-07 15:43] tazzr commented on #169
bump.

[2020-11-07 15:44] tazzr commented on #169
Any update in regards to this?

[2020-11-18 19:56] alexandrucancescu commented on #256
For me it doesn't even build on node 14, on macos. A more detailed install instructions are needed for macos. Where can we download all the static libs that we need?

[2020-11-18 20:16] JCMais commented on #256
Post the full build log here if possible.

[2020-11-18 20:57] alexandrucancescu commented on #256
OS 11 Big Sur
nodejs v.14.15.1

Ran `npm_config_curl_include_dirs="$(xcrun --show-sdk-path)/usr/include" npm i -s node-libcurl@latest`

[code]

postinstall script fails. Can import module but it will throw the same error, about libzstd.

[2020-11-18 21:38] andrisi commented on #169
Would be nice to add a note to the docs/npmjs page - in case someone silly like me implements before running into this issue... :-) Thanks for your great work - the module itself is of great use, will find some temp solutuion for now.

[2020-11-20 11:48] alexandrucancescu commented on #256
Managed to build it on node 14 macos big sur. The problem was I installed curl witt `brew install curl`, and was missing libzstd I suppose. The correct way to install libcurl to be able to build node-libcurl is `brew install curl-openssl`. I think it would be a good idea to add this in the **Building on macOS** section, like in the linux section, that has the commands to install the lib dependenci

[2020-11-23 00:57] JCMais commented on #256
This is strange, the addon should use the prebuilt binaries on macOS for Node.js v14, weird that it was trying to build from source.

I will try to find some time to build on macOS big sur and check if there is anything wrong.

[2020-11-23 23:59] alexandrucancescu opened #258 "How to disable proxy username caching?"
I have to change the username when using a proxy server, after every request, but libcurl or node-libcurl addon seems to cache it, as it send the same username even after I change it.

When using curly I tried every option
[code]
I also tried using a new Curl instance every time I need to change proxy username
[code]

All of them produce the same result, and node-libcurl will keep sending the firs

[2020-11-24 00:19] JCMais commented on #258
If you are using a new instance or just setting the option to null, it should not cache the option. Can you post the output of running this function? https://node-libcurl-docs.netlify.app/classes/_lib_curl_.curl.html#getversioninfostring

Also, try running with the `VERBOSE` option set to `true` and see if there is any interesting output related to this.

[2020-11-25 00:31] alexandrucancescu commented on #258
Version: libcurl/7.73.0 OpenSSL/1.1.1g zlib/1.2.11 brotli/1.0.9 zstd/1.4.5 c-ares/1.16.1 libidn2/2.1.1 libssh2/1.9.0 nghttp2/1.41.0
Protocols: dict, file, ftp, ftps, gopher, http, https, imap, imaps, ldap, ldaps, mqtt, pop3, pop3s, rtsp, scp, sftp, smb, smbs, smtp, smtps, telnet, tftp
Features: AsynchDNS, IDN, IPv6, Largefile, NTLM, NTLM_WB, SSL, libz, brotli, TLS-SRP, HTTP2, UnixSockets, HTTPS-pr

[2020-11-25 00:39] alexandrucancescu commented on #258
I'm pretty sure it gets cached. I use a service that changes my IP based on the proxy username, and changing the username in node-libcurl doesn't produce this result. This service also provides a self hosted proxy, where I can analyse the username that gets sent, and it's the same for 5-6 more requests after I change it. I tested with 5 more http clients and they do not have this behaviour. Do you

[2020-11-25 01:03] JCMais commented on #258
The only way to be completely sure is to make a simple application using libcurl itself. No special handling of the proxy options is done by this addon.

Can you check if the same happens when using just the `Easy` class (synchronous way)?

Another option is to try to build a simple C program and see if the same issue happens with pure libcurl: https://curl.se/libcurl/c/simple.html

[2020-11-26 13:28] Nishchit14 commented on #256
@JCMais I am facing the same issue as @alexandrucancescu's but on `macOS Catalina` with NodeJS 12 and 14 both. I'll be watching this thread, Thank you for your awesome work man!!.

[2020-11-26 13:47] Nishchit14 commented on #256
installing `brew install curl-openssl` worked for me. Thanks @alexandrucancescu

[2020-11-26 14:14] alexandrucancescu commented on #256
Can we add this on instructions for building on mac?

[2020-11-26 14:24] JCMais commented on #256
I will add then after I test installing the library myself, as this may be something wrong with the build process itself, it should not really need an external library as the addon is built statically.

[2020-11-29 19:48] requestx opened #259 "Setting Origin"
Can you add support for setting the origin in node-libcurl, or add an equivalent for the -H header (used in the command-line cURL)? Thanks

[2020-11-29 21:07] JCMais commented on #259
This is already possible, use `setOpt('HTTPHEADER', ['Origin: https://www.google.com'])`.

[2020-11-29 21:07] #259 closed

[2020-12-04 21:18] Oseias447 opened #261 "Is there any example of how it works in the code applying proxy?"
In Lib it says that there is proxy support, but I haven't found any example of how to apply the proxy.

[2020-12-05 15:42] JCMais commented on #261
This library supports all options libcurl supports related to Proxies (https://ec.haxx.se/libcurl/libcurl-proxies), The main option related to proxy support is [`CURLOPT_PROXY`](https://curl.se/libcurl/c/CURLOPT_PROXY.html) and it's fully supported. You just need to set the option using `setOpt`:
[code]

 or inside the `options` param passed to `curly`:
[code]

If this is not working, then there i

[2020-12-05 15:42] #261 closed

[2020-12-07 18:51] requestx opened #262 "Is there a way to make libcurl look like a browser request?"
I was wondering if node-libcurl can mimic a browser. Is there like a `setBrowser` Option, or do you have to set all of the http headers manually?

[2020-12-07 19:56] requestx commented on #262
I am trying to fetch `matchmaker.krunker.io`, which for some reason cURL fetches, but libcurl does not. Not sure why this happens, here is a code sample:

[code]

[2020-12-08 01:40] JCMais commented on #262
Hi!

You have to set all the HTTP header and other options yourself, there is no helper to mimic a browser request. You can grab the curl command from the requests tab in chrome and convert that to some code using node-libcurl.

[2020-12-08 01:40] #262 closed

[2020-12-23 09:09] aaronpeters opened #267 "API docs pages are 404"
In the README's [API section](https://github.com/JCMais/node-libcurl#api), those links to the API docs on Netlify don't work: the pages are 404.

[2020-12-23 12:09] JCMais commented on #267
Thanks! The correct link is https://node-libcurl-docs.netlify.app/modules/_lib_index_.html

It has been fixed.

[2020-12-23 12:09] #267 closed

[2021-01-01 09:19] tharun208 opened #268 "OPENSOCKETFUNCTION typescript bindings"
Hi, I am trying `node-libcurl` to connect to create a WebSocket client and perform transforming messages, as referenced from this example(https://phpandmore.net/2015/02/17/implementing-web-sockets-with-curl/).

I am trying to set this option `OPENSOCKETFUNCTION`, but it is not available.

and also some help with this creating client will be helpful

[2021-01-03 05:22] x11joe commented on #75
I'm getting same error on windows where it won't install.

[code]

any idea what I'm doing wrong? I installed python newest and 2.7 but no luck so far.

[2021-01-03 13:50] JCMais commented on #268
`OPENSOCKETFUNCTION` is not available. Mostly because it would be hard to create bindings for this function, as it relies on working with the raw socket.

However, it's possible to create a WebSockets client using this library by using [`Easy.onSocketEvent`](https://node-libcurl-docs.netlify.app/classes/_lib_easy_.easy.html#onsocketevent)

See a working example here: https://github.com/JCMais/node

[2021-01-03 13:56] #258 closed

[2021-01-06 12:43] ronag commented on #256
Fixed my build issues:

https://github.com/nxtedition/node-libcurl/commit/101475c99915378ef5e9e7eb743ea0ab3a948bf8

[2021-01-07 12:55] xland opened #270 "Support electron 11.x.x"
When could node-libcurl support electron 11.x.x?
Thanks!

[2021-01-10 20:58] JCMais commented on #268
Closing this, feel free to re-open if you have issues.

[2021-01-10 20:58] #268 closed

[2021-01-10 20:59] JCMais commented on #270
Right, I should be able to add Electron `11.x.x` by the end of this week.

[2021-01-10 22:21] JCMais commented on #256
I suppose you also had to install libcurl manually @ronag ?

I just updated to Big Sur, looks like the libcurl shared library is not provided anymore, or it's in another place now.

[2021-01-13 04:11] Feverqwe opened #271 "Curly HEAD request with curlyStreamResponse never resolve."
Event "stream" never emited when request HEAD, or followLocation=false with GET. I see emit "end" but I can't handle it from curly.
[code]

[code]

[2021-01-13 04:25] Feverqwe commented on #271
I try to fix it like this:
[code]

[2021-01-17 16:20] RyzorBent commented on #256
installing ```brew install curl-openssl``` also worked for me.

[2021-01-19 16:21] ftaiolivista opened #272 "Connection not correctly close when using FTP"
Hi.

I'm using the lib to load a couple of files on a filezilla server.

All works good and file are uploaded but at the end the the connection is not correctly closed by went on timeout.

Tried to disable passive mode, but nothing change.

I'm sure close is correctly called

This is filezilla server log

[code]

and this is my upload function (I have a similar function for check if a file exists

[2021-02-02 22:02] tesla-srt opened #273 "Unable to install on windows"
Oddly enough I recently installed on my home computer for development then came into work to install on work computer and got a whole slew of errors.
[code]

[2021-02-03 13:04] JCMais commented on #273
This is caused by using Python 3. The `.py` scripts in the [`curl-for-windows`](https://github.com/JCMais/curl-for-windows) dependency seems to not be working with it (with Python 3 `print` is now a function, and not a statement).

An easy fix, for now, is to use Python 2.7.

[2021-02-05 00:14] tesla-srt commented on #273
AHA!
I thought that must be it.
First I tried a different version of node and that worked.
So thank you!

[2021-02-06 21:08] dr-dimitru opened #274 "`zstd` dependency is missing"
### Error:

[code]

### Hot Fix

Install `zstd` package

This issue took at least 8 hour from our team 😅
Added 🔥 hotfix instruction to library where `node-libcurl` is dependency — https://github.com/VeliovGroup/request-extra#3-missing-libraries

@JCMais `node-libcurl` expect to have `zstd` library installed? Or it's a bug and dependency is missing?

Tested on `macOS@10.12.6` and `macOS@10.15`, `no

[2021-02-10 19:25] tesla-srt commented on #273
@JCMais Since I have this thread opened I wanted to ask what the difference is between
```curl.close()```
-vs-
```curl.bind.close(curl)```

And why Node seems to hang on an error requiring me to enter (return) to continue processing.

[2021-02-13 19:00] JCMais commented on #273
[code]

[2021-02-13 19:02] JCMais commented on #272
Is the Node.js process hanging around?

Libcurl may keep connections open to reuse them later if necessary.

[2021-02-13 19:03] JCMais commented on #271
Hi @Feverqwe , could you please share some code that can reproduce this? Like making a request to httpbin or something like that.

[2021-02-13 19:06] JCMais commented on #274
Hi @dr-dimitru, sorry if this took some time to debug, I have to take a look at the way the addon is being built in macOS, as it should not really require external dependencies, as it should be built statically with all the dependencies.

Unfortunately, I'm not able to that at the moment as I do not have a mac available. I should get around by the end of the month. Until then I will keep this issu

[2021-02-13 19:15] dr-dimitru commented on #274
@JCMais got it, this is not only me, a lot of users of the library where node-libcurl used as dependency were affected. So maybe this is a clue -- only when it's used as dependency of the other package.

Had to add different tips and tricks to "known issues" section here -- https://www.npmjs.com/package/request-libcurl

[2021-02-14 06:38] Feverqwe commented on #271
Example

[code]

[2021-02-15 08:13] ftaiolivista commented on #272
Node process does not end (it's a web server) by Curl object is created and used only inside the function. Is there no way to force regular disconnection?

[2021-02-16 14:26] lucianomcsilva commented on #274
Hi. I just struggle this morning with this issue.  I have to install the lib myself. It take a long while. Use this command to do it

`brew install --build-from-source zstd`

Do it, and you can brew a coffee. It took more than 1 hour here. =)

[2021-02-17 01:14] creazy231 opened #276 "Request receive headers only"
I want to build a small monitoring tool for my company to use it internally.
Everything works like a charm but what if someone adds a large JSON file as a monitoring URL?

**Is there a way to receive only headers?**

**Real example:**
Monitoring URL: https://raw.githubusercontent.com/json-iterator/test-data/master/large-file.json
Response Time (on my server): ~ 2.589 ms
Response Time (other simila

[2021-02-17 04:21] tesla-srt commented on #273
@JCMais Thank you for clarifying :)
On a side not I figured out why my application was hanging.
Had to do with not sending data thru express when curl encounters an error

This was my solution
[code]

[2021-02-17 12:32] tsibahatau commented on #276
Why don't just use HEAD method?

[2021-02-17 13:27] JCMais commented on #276
You want to use the `NOBODY` option: https://curl.se/libcurl/c/CURLOPT_NOBODY.html

[2021-02-17 13:31] JCMais commented on #273
Glad you figured it out :)

[2021-02-19 09:50] creazy231 commented on #276
@JCMais `NOBODY` is what I was looking for and it helped a lot.
My scripts currently run via google cloud functions to cover different regions. Unfortunately the performance of node-libcurl is not so good there, so I switched to node-fetch. Anyway thanks for the help, maybe it can help someone else in the future :)

[2021-02-19 09:55] #276 closed

[2021-02-19 14:31] JCMais commented on #276
@creazy231 did you notice performance issues in any specific part of the library in particular?

[2021-02-19 14:54] creazy231 commented on #276
No, not really. I think it's just how node-libcurl and node-fetch handles requests. I didn't took a look deeper into it. Maybe it's just a bad user "problem" I got with this lib because I don't know much about cURL itself 😅

[2021-02-20 17:34] 9ntonio opened #277 "How to use node-libcurl with NextJS using native-ext-loader?"
### I need Help please!

I am getting the following error when running my code on the browser:

<img width="644" alt="Screen Shot 2021-02-20 at 9 20 19 AM" src="https://user-images.githubusercontent.com/2566895/108603572-968e6800-735d-11eb-81fd-ab592ae97dfe.png">

I am using NextJS on a [Netlify build image that uses Ubuntu version 16.04 (aka Xenial) ](https://github.com/netlify/build-image/blob/x

[2021-02-21 13:16] JCMais commented on #277
Hi, you probably have to use [`rewritePath`](https://github.com/smt116/node-native-ext-loader#rewritepath-default-undefined).

Other than that without a reproducible code snippet, I cannot offer much help.

[2021-02-21 21:18] 9ntonio commented on #277
Thanks for the reply.

Here is the code snippet you requested. I hope this helps.

[code]

I am basically waiting to receive a json response. I am getting the response, but soon after I am getting the error noted in my first post.

I hope this helps clarify the issues I'm having.

[2021-02-25 20:19] 9ntonio commented on #277
@JCMais did my added code help clarify your concern?

[2021-02-25 21:03] JCMais commented on #277
I have not tested it yet, I should be able to do it this weekend.

[2021-02-26 13:26] JCMais commented on #277
@9ntonio this happens because the import to `node-libcurl` is in the root of the file, so it's running in both browser and server environments. Native Node.js addons cannot be loaded in a browser.

In your case, you have a few options, if you are using Next.js 9.3 or newer, you can use [`getServerSideProps`](https://nextjs.org/docs/basic-features/data-fetching#getserversideprops-server-side-render

[2021-03-01 13:02] #277 closed

[2021-03-01 20:30] 9ntonio commented on #277
@JCMais thank you for your help and detailed instructions. I will post back here once I confirm that your notes resolve my issue.

Thank you again for your help.

[2021-03-05 16:05] DMarby commented on #274
@JCMais From a brief investigation, I believe this is due to the recent upgrade to libcurl 7.73.0 in https://github.com/JCMais/node-libcurl/commit/7ba328207185640b0ca58f490d76d211b40ac5d7, as libcurl added zstd support in `7.72.0`: https://daniel.haxx.se/blog/2020/08/19/curl-7-72-0-more-compression/

I believe passing `--without-zstd` to `./configure` in `build-libcurl.sh` would resolve it for now

[2021-03-06 00:11] 9ntonio commented on #277
@JCMais I can confirm that your suggestion to use `getServerSideProps` addressed my issue. I had to use it as an async  function per the following code.  Please note I am using `NextJS v10.0.6`.

[code]

For anyone trying this as a fix, please note to use the following structure of your returned data:

`return { props: {data} }`

If you do not use this structure you will get an error.

Thank you f

[2021-03-06 15:14] JCMais commented on #274
Thank you @DMarby, I still do not have access to a Mac to properly test this, but your findings were very useful to understand the root cause of the problem.

I'm pushing the above changes to try to get libcurl to link against the static version of zstd.

[2021-03-06 15:30] JCMais commented on #277
Glad you got it working @9ntonio, and thanks for posting the full solution.

[2021-03-07 13:15] DMarby commented on #274
Thank you for the quick fix @JCMais!

I have verified that the new binaries from running `./build.sh` does not contain libzstd anymore:
![image](https://user-images.githubusercontent.com/174626/110240462-49f58000-7f4c-11eb-9a70-ed8156e333dd.png)
And when using the resulting build in Insomnia it seems to be working correctly now as well:
![image](https://user-images.githubusercontent.com/174626/110

[2021-03-07 15:58] JCMais commented on #274
Thanks for testing @DMarby.

I should be able to cut a new release in the next few days, about having the prebuilt binaries I'm waiting on TravisCI Support for that, macOS builds are run in there and it seems the OSS allowance for this repository is over the limit.

In the meantime, I'm working on getting macOS builds also running on GitHub actions.

[2021-03-07 16:21] DMarby commented on #274
@JCMais Awesome, thanks a lot again, looking forward to it!

Please let me know if I can be of any assistance, or if you need any further help with MacOS testing or such.

[2021-03-08 09:17] dr-dimitru commented on #274
Hey, we can have remote session from my mac if it would work for you

[2021-03-08 14:07] JCMais commented on #274
@dr-dimitru thanks for the suggestion, I will definitely keep that in mind for the future :)

I just released the pre-release version `v2.3.1-0` with the fixed `zstd` dependency. If anyone is able to test please let me know. If everything is working correctly I should be able to release `v2.3.1` tomorrow.

[2021-03-08 14:20] JCMais commented on #256
Thanks to everyone that contributed to this issue.

I'm closing the issue as it is, in fact, the same issue than https://github.com/JCMais/node-libcurl/issues/274

The pre-release version `v2.3.1-0` has support for Node.js 15 and has the above dependency issue fixed. If everything is working correctly I will publish `v2.3.1` late today / tomorrow.

[2021-03-08 14:20] #256 closed

[2021-03-08 14:21] DMarby commented on #274
@JCMais More then happy to help test it!
It seems like the 9.3.3 Electron build failed due to some network errors, could I ask you to trigger a re-run of it, so that I'm able to test it with Electron 9? https://github.com/JCMais/node-libcurl/runs/2056979415?check_suite_focus=true

[2021-03-08 14:22] JCMais commented on #270
The pre-release version `v2.3.1-0` has support for Electron 11 and Electron 12, could you test, please?

If everything is working correctly I should be able to release `v2.3.1` late today / tomorrow.

Sorry that this took a while to get added. 😅

[2021-03-08 14:24] JCMais commented on #274
@DMarby re-running them now, unfortunately, there is no way to re-run just the failed jobs with GitHub Actions, so the whole workflow is running again.

[2021-03-08 14:25] DMarby commented on #274
@JCMais Thank you! Indeed, we have the same issue frequently, it is very unfortunate that you can't re-run just a single job 😅

[2021-03-08 15:27] JCMais commented on #274
@DMarby prebuilt binary for 9.3 is now available

[2021-03-08 16:05] DMarby commented on #274
Thank you @JCMais! I've tested it on macOS now, and it seems to be working great :)

[2021-03-08 18:18] DMarby commented on #274
Tested the electron build as linux as well @JCMais, and seems to work great there too 👍
One thing I noticed is that for `node` the `glibc` binaries seem to be missing for the pre-release, will that be the case for the release as well, or is that just for the pre-release?

[2021-03-08 18:40] JCMais commented on #274
@DMarby the `glibc` builds are on TravisCI, I am awaiting a response from their support about my OSS allowance. Currently, it says I used all my credit (I did not even know this was a thing for OSS projects).

If I don't get this solved by the end of today/tomorrow, I will probably just use another CI provider to run the `glibc` builds, probably GitHub Actions as it seems to be the fastest one at

[2021-03-09 01:19] xland commented on #270
Sorry, I'm not working on this now.

[2021-03-09 21:09] JCMais commented on #271
Thanks so much for the code @Feverqwe, I was able to reproduce it and I have a fix ready to be pushed. Sorry if this took longer than expected.

I will close this as soon as I release a version with this fixed.

[2021-03-09 21:15] JCMais commented on #272
@ftaiolivista sorry for the delayed response, but you could try the option [`FORBID_REUSE`](https://curl.se/libcurl/c/CURLOPT_FORBID_REUSE.html)

[2021-03-09 21:37] JCMais commented on #274
Closing this issue as `v2.3.1` has been released, full changelog [available here](https://github.com/JCMais/node-libcurl/releases/tag/v2.3.1).

It may take some time until all the prebuilt binaries are available.

[2021-03-09 21:37] #274 closed

[2021-03-09 21:38] JCMais commented on #271
Closing this issue as `v2.3.1` has been released, full changelog [available here](https://github.com/JCMais/node-libcurl/releases/tag/v2.3.1).

It may take some time until all the prebuilt binaries are available.

[2021-03-09 21:38] #271 closed

[2021-03-09 21:40] DMarby commented on #274
Thank you for all your hard work on fixing this @JCMais!

[2021-03-09 21:56] JCMais commented on #274
Worth pointing out that zstd is not included by default in the Windows prebuilt binary, I will try to add it next week.

[2021-03-10 07:00] ddolcimascolo opened #278 "Breaking change on v2.3.1 ?"
Hi @JCMais

Our build fails with v2.3.1, see the trace below.

[code]

My understanding is that you require a new minimum version of `libstdc++` to build the lib from source, not to _run_ it, right? That would be a major breaking change I suppose...

Thanks for your help!

Regards,
David

[2021-03-10 08:00] ftaiolivista commented on #272
Thank you @JCMais . I'll give it a try

[2021-03-10 08:00] #272 closed

[2021-03-10 11:27] JCMais commented on #278
Investigating this, thanks for reporting.

[2021-03-10 12:49] JCMais commented on #278
@ddolcimascolo @david8388 could you please try to install the new version again? I have updated the prebuilt binaries.

The issue was caused in the migration of the build process from TravisCI to GitHub Actions.

In TravisCI (versions <= 2.3.1) the addon was being built using Ubuntu 18.04, but when I migrated to GitHub Actions I used Ubuntu 20.04. I have fixed it by downgrading the Ubuntu version

[2021-03-10 12:58] ddolcimascolo commented on #278
Thx @JCMais Simply retrying the build worked. I think you can close if @david8388 aggrees too.

Cheers,
David

[2021-03-10 13:11] JCMais commented on #270
`v2.3.1` has been released with support for Electron v11 and v12

[2021-03-10 13:11] #270 closed

[2021-03-10 13:16] JCMais commented on #276
One of the main benefits of libcurl is the connection cache, for ephemeral environments, this may not bring that big of a performance benefit.

The performance for single requests should still be at least similar to JavaScript libraries like node-fetch tho, so in case you get back to test this and find anything unusual about the performance of this library, please let me know. 😄

[2021-03-10 15:48] ddolcimascolo commented on #278
Hi again @JCMais

I talked a little bit too fast, a part of the build still fails, but the error wasn't raised during the build I don't know why. Deploying to DEV env made things break :/

The trace is
[code]

The specificity here is that it's Debian Stretch (9). I know it's old but previous version worked like a charm.

Anything you can do on your side ? If not, meaning you can't support Debian 9

[2021-03-10 19:48] JCMais commented on #278
@ddolcimascolo having this breaking change is not something that was planned for this release, sorry for that. Turns out that the version being used in TravisCI was in fact Ubuntu 14, I will try to run the build on Ubuntu 16 and see if the glibc version is lower than 2.25.

I should be able to do that in 3~4 hours.

[2021-03-10 21:41] JCMais commented on #278
@ddolcimascolo let me know if it works for you now.

I just tested it with the following docker image and it worked:

[code]

[2021-03-11 03:19] david8388 commented on #278
@JCMais, Thank you so much for resolving this issue.

Looks good on my machine

[2021-03-11 08:12] ddolcimascolo commented on #278
OK on my side now @JCMais

Thx a lot for your help, and for thuis great lib

Cheers,
David

[2021-03-11 08:12] #278 closed

[2021-03-11 12:54] krivtsov opened #279 "Broken link"
Hi! After updating the version to 2.3.1 build error, broken link
https://github.com/JCMais/node-libcurl/releases/download/v2.3.1/node_libcurl-v2.3.1-node-v64-linux-x64-glibc.tar.gz

[code]

[2021-03-12 15:38] JCMais commented on #279
I have added back the prebuilt binaries to Node.js v10, I know this is something that is not always easy to do, but I would recommend upgrading to Node.js v12, as Node.js v10 is nearing its end of life.

[2021-03-12 15:38] #279 closed

[2021-03-24 12:58] DMarby opened #280 "DNS lookups are not working with multiple system DNS servers"
With the recent switch to the `c-ares` DNS resolver backend in version `2.3.0`, it seems like DNS resolution is sometimes failing when using multiple DNS servers. A lot of our users have reported that they are unable to make requests due to this: https://github.com/Kong/insomnia/issues/3234.

Do you think it would be reasonable to stop using `c-ares` for the prebuilt binaries, given that there are

[2021-03-24 13:31] JCMais commented on #280
Hi @DMarby,

If you believe this is a bug with c-ares could you also report this in their repository? If this is indeed a bug with c-ares the same issue should appear if you build libcurl from source using https://github.com/JCMais/curl-for-windows/tree/d6c10ce12588e723e7ffee52aae2df577391d99c and change the example.c in there: https://github.com/JCMais/curl-for-windows/blob/d6c10ce12588e723e7ffee

[2021-03-24 15:03] DMarby commented on #280
Hi @JCMais,

Thanks for the quick reply, will build from that repo and test the example and let you know what the results are.

As for using the `CURLOPT_DNS_SERVERS`, I can test that as well and report back, but it's a very bad experience if a user has to configure the DNS servers on an app level in addition to a system level in order for things to work, so would like to avoid that.

[2021-03-24 15:11] nijikokun commented on #280
👋  Hi @JCMais Product Owner for Insomnia here, we are getting quite a lot of reports of users being unable to make requests in Insomnia because of this change. Is it possible to revert?

We do not want to lose the ability to rely on the system DNS and we don't have the time or capability to build out the really arduous task of gathering system DNS to supplement with the setOpt function. Please adv

[2021-03-24 15:45] JCMais commented on #280
@DMarby @nijikokun Is the issue happening only on Windows?

What I can do is release a new pre-release version, like `2.3.1-electron-no-cares`, that does not build libcurl with c-ares support when building the electron binaries.

All the build scripts are available here https://github.com/JCMais/node-libcurl/tree/develop/scripts/ci and are under the same license as the repository, in case the Inso

[2021-03-24 15:49] nijikokun commented on #280
This would be extremely helpful for the time being until we get to the bottom of the issue and or get our build system up 🙏

Are there any special environment variables defined within the CIs that we should know about?

[2021-03-24 15:52] DMarby commented on #280
I have only reproduced it on Windows so far, unfortunately I have not been able to try it on macOS or Linux let, so I am not sure if it affects other platforms.

[2021-03-24 16:18] DMarby commented on #280
Hi @JCMais,

Still working on reproducing with just the `curl-for-windows`/`example.c`, but we were just able to confirm this issue on macOS too, so doesn't seem isolated to Windows unfortunately, I would guess that it's broken on Linux as well.

If possible, releasing a version without cares would be of great help. We use `node-libcurl` in our companion CLI `insomnia-inso` as well, so if possible

[2021-03-24 16:25] JCMais commented on #280
There are a few, please see https://github.com/JCMais/node-libcurl/blob/develop/.github/workflows/build-and-release.yaml and https://github.com/JCMais/node-libcurl/blob/develop/.appveyor.yml.

I will do that later today or tomorrow morning, I will update this issue when it is available.

[2021-03-24 16:36] nijikokun commented on #280
Tested on macOS and Linux, it impacts all platforms

Thank you, this will help so many Insomnia users  🙏

[2021-03-24 17:34] nijikokun commented on #280
Side note and potentially [related issue](https://github.com/c-ares/c-ares/issues/399) we uncovered during discovery, also during retro on how this was missed we discovered that the [changelog](https://github.com/JCMais/node-libcurl/blob/develop/CHANGELOG.md#230---2020-11-15) and [release notes](https://github.com/JCMais/node-libcurl/releases/tag/v2.3.0) states `it's not built with c-ares.` which

[2021-03-24 17:43] JCMais commented on #280
Thanks @nijikokun , yep that was a typo, it was supposed to be `it's now built with c-ares`. It was not marked as a breaking change because I did not expect this to cause any major issues.

I will prob just remove c-ares altogether for now and wait until this is fixed.

[2021-03-24 18:05] JCMais commented on #280
`v2.3.2` has been released without c-ares.

[2021-03-24 18:11] #280 closed

[2021-03-25 06:55] allang commented on #250
Experiencing this as well.

[code]

Was there a breaking change recently? Unable to do a basic install.

[2021-04-06 11:18] martin7dev opened #282 "TypeError: Super expression must either be null or a function when importing into a react project"
- [ ]  apologies - this must be simple to solve nevertheless I am baffled:

anything like ```import { Curl } from 'node-libcurl';```   or ```const { curly } = require('node-libcurl'); ``` results in a massive whine from webpack in React:

[code]

[2021-04-06 12:16] JCMais commented on #282
what environment are you trying to run this code in? In the browser?

[2021-04-09 21:33] sbanga opened #283 "'TypeError: Class extends value undefined' while running node-libcurl"
Hi,

I followed the installation instructions to install node-libcurl in my node.js working environment. The installation went through without any errors. However, when I run my code, I am seeing this error in the browser:

×
TypeError: Class extends value undefined is not a constructor or null
./node_modules/node-libcurl/dist/Easy.js
http://localhost:3000/static/js/vendors~main.chunk.js:4661:29

[2021-04-14 21:36] JCMais commented on #283
This library is not supposed to work in the Browser, it is a backend-only library.

[2021-04-17 15:20] DuySexy opened #284 "Curl with proxy + user, pass not working"
Hi.
I use node-libcurl with proxy http://qFW4xX:revFEU@45.32.117.124:57101 but not working

Error: [Error: Failure when receiving data from the peer] { errorCode: 56 }

`curl.setOpt('PROXY', 'http://qFW4xX:revFEU@45.32.117.124:57101');`

if i use only proxy without user,pass, it working . example: `curl.setOpt('PROXY', '123.45.67.89');`

-- also i use alternate syntax:
[code]
still not working.

h

[2021-04-17 15:26] DuySexy commented on #284
http proxy info:
v6 address: 2001:19f0:4401:233:3ccd:c105:de78:c65a
ip: 45.32.117.124
port 57101
user:pass qFW4xX:revFEU
country: singapore

[2021-04-17 15:39] DuySexy commented on #284
@JCMais help me

[2021-04-19 00:25] DuySexy commented on #284
please help me

[2021-04-19 00:41] JCMais commented on #284
can you share the full PHP code and Node.js? Or at least all the options you are setting.

[2021-04-19 09:40] DuySexy commented on #284
thank for reply!

this issue from destination site (xxx.com), I try curl other url (google.com) then it works fine.

also i want know any reason from destination site cause error?

[2021-04-19 12:40] JCMais commented on #284
This may happen if the destination server is blocking the connection in some way, or does not support the given HTTP method.

[2021-04-19 14:01] #284 closed

[2021-04-29 19:13] lasertiger opened #285 "Can't build using node 16.0.0"
I've tried on a mac and Ubuntu 18.04 and Ubuntu 16.04.

Same on both:
npm ERR! gyp info spawn args [ 'BUILDTYPE=Release', '-C', 'build' ]
npm ERR! In file included from /home/ubuntu/.cache/node-gyp/16.0.0/include/node/v8.h:30:0,
npm ERR!                  from /home/ubuntu/.cache/node-gyp/16.0.0/include/node/node.h:63,
npm ERR!                  from ../node_modules/nan/nan.h:56,
npm ERR!

[2021-04-29 19:50] JCMais commented on #285
I have not updated the code to run with Node.js v16, I will do so in the following week

[2021-04-30 18:15] c4kaci opened #286 "Source code omitted for this binary file"
Hi,

I'm beginner in the Node world.

I installed libcurl with "**npm i node-libcurl --save**" .  It's OK.

I wrote to my C4.js
**const { curly } = require('node-libcurl');**

When I want to build my project  I get this error:
***********************************************************************************
 ERROR  Failed to compile with 1 error

[2021-05-04 01:43] JCMais commented on #286
This is a backend-only library, it cannot be used in the frontend.

[2021-05-04 01:43] #286 closed

[2021-05-10 12:45] JCMais commented on #285
v2.3.3 has been released.

[2021-06-03 20:06] vladgovor77771 opened #292 "node-libcurl can't bypass Cloudflare while curl can"
I'm trying to fetch site which is protected by Cloudflare.

This works as expected.
[code]

When I'm trying to do the same through ```node-libcurl```, Cloudflare 1020 error code returns (status code 403).

[code]

Where is a problem?

[2021-06-05 17:08] vladgovor77771 commented on #292
Here is comparison of node-libcurl, axios, node-fetch and curl executable: https://gist.github.com/vladgovor77771/3f0283b9c0b3720ce4d9a6cab2354205
![image](https://user-images.githubusercontent.com/39651842/120899646-772ff800-c639-11eb-938a-60c635560d9c.png)

node-libcurl, axios, node-fetch don't work. But curl exec works (Burp also passes). Is it related to Node.js http/socket impl?

[2021-06-05 17:27] JCMais commented on #292
Are you sure `curl` works as expected?

Trying curl directly here returns the `Access Blocked` page from Cloudflare.

[2021-06-06 14:54] vladgovor77771 commented on #292
@JCMais
Try this:
[code]

[2021-06-09 15:21] vladgovor77771 commented on #292
@JCMais, any thoughts about? I trying to research, what types of http clients can bypass cf. ```httpie``` for linux also works.

[2021-06-10 21:02] JCMais commented on #292
Not sure I can help you here.

Tried running the same docker command you commented above and it does work. however, node-libcurl itself is not doing anything special on the requests, the only thing we do is set the user agent to a default one, but you can overwrite that by passing the `USERAGENT` option, so I'm not sure how Cloudflare is blocking the request when using it.

[2021-06-11 11:22] #292 closed

[2021-07-11 18:17] pbryant-phew opened #296 "Unable to install on macOS 11.4 Apple Silicon Node v16.4"
Hi.  I get the errors as below when trying to `npm install` in the environment noted in the description.  We have other systems running identical (as far as we can tell) OS and other dependencies, but on macOS for Intel, and they build the same project just fine.  Wondering if there is something still not right with node-libcurl on Node v16 and Apple Silicon, even at node-libcurl 2.3.3.  Have trie

[2021-07-17 05:56] pbryant-xag commented on #296
Now I am seeing the following, which is perhaps some progress, and more directly implicating node-libcurl:

[code]

[2021-07-17 06:11] pbryant-xag commented on #296
OK I think I am past this issue. Regarding both traces above:

First trace:
- Likely due to not well installed xcode-select

Second trace:
- Resolved by:
`brew install curl-openssl`
`export PATH="/opt/homebrew/opt/curl/bin:$PATH" >> ~/.zshrc`

[2021-07-20 15:38] sebmellen commented on #296
+1 having this issue as well

[2021-07-23 01:01] SaulMoonves opened #297 "Curly not following redirects"
Curly doesn't seem to be following redirects. I get back the statusCode of 301 and the data is a string or buffer. I checked the location header and it's present but obviously not followed since the function returned. I believed it would follow redirects because of looking at other issues in the past.

Is this a bug, or how do I coerce curly to follow redirects automatically? And, if possible, res

[2021-07-23 02:00] johnwchadwick opened #298 "gen:constants fails due to curl.haxx.se -> curl.se redirect"
The `build-constants.js` script tries to pull from https://curl.haxx.se/libcurl/c/curl_easy_setopt.html, but the page has moved to https://curl.se/libcurl/c/curl_easy_setopt.html. The redirect is not followed and it tries to parse a 302 response, which fails.

Node.JS v14.17.2
NPM 6.14.13
Debian 10.10
`develop` / 0423c74

[2021-07-23 04:24] johnwchadwick commented on #224
curl now has this ability to load ca certs from memory of curl 7.77; it landed in https://github.com/curl/curl/pull/6662. However, it requires support for blob options (#253). In order to move this closer to the goal I've opened a PR for supporting blob options (#500) but it doesn't add support for all of the new options, and the curl for windows repo would need to be updated too I assume.

[2021-07-23 12:40] SaulMoonves opened #301 "sometimes an ssl error takes down whole process"
[code]

I'm using curly inside a node fork process. when this error happens it does something that terminates the IPC between child and parent. Doesn't seem catchable, all I can do is detect the process had an error in the parent process, then force exit it and spawn a replacement. that works about 99% of the time, sometimes it just hangs and I find the process stalled when I look at it later, but

[2021-07-23 21:53] JCMais commented on #224
Hey @johnwchadwick, thanks a lot for these! I will try to get those reviewed (and merged) in the following days.

[2021-07-24 15:28] JCMais commented on #297
Hi @SaulMoonves, you have to use the `followLocation` option. You can use most libcurl options, `FOLLOWLOCATION` is one of them: https://curl.se/libcurl/c/CURLOPT_FOLLOWLOCATION.html

You can also use `MAXREDIRS` to limit the number of redirects: https://curl.se/libcurl/c/CURLOPT_MAXREDIRS.html

I hope this helps!

[2021-07-24 15:32] #298 closed

[2021-07-24 15:32] JCMais commented on #298
@johnwchadwick Thanks for the issue and the PR (!), really appreciate it!

[2021-07-24 16:14] johnwchadwick commented on #298
No problem, thank you for the prompt response!

[2021-07-24 20:28] #253 closed

[2021-07-25 17:25] SaulMoonves commented on #297
@JCMais Thank you. I didn't see an example of how to set options on Curly, so I did the due diligence and checked the source code and I have my answer. For the benefit of others, querying a crappy broken website (something I have to do often):

[code]

[2021-07-25 17:31] JCMais commented on #297
glad you got it figured out :)

The API documentation is available here (but it has the same information than you have in the fn itself as it is generated from the TypeScript types): https://node-libcurl-docs.netlify.app/interfaces/_lib_curly_.curlyfunction.html

[2021-07-25 17:31] #297 closed

[2021-07-25 18:51] JCMais commented on #301
Hi @SaulMoonves, can you provide an example that is able to reproduce the issue?

[2021-07-25 19:12] SaulMoonves commented on #301
I will try, this error is killing me. Please give me time.

[2021-08-01 13:44] SaulMoonves commented on #301
Had to switch to disabling SSL verification for reasons, and that change made this problem go away. Closing since it seemed I was the only one who had the problem and now I don't.

[2021-08-08 12:53] puckey commented on #301
@SaulMoonves Could you reopen? I am experiencing the same issue

[2021-08-08 16:24] JCMais commented on #301
@puckey could you share a small code sample that reproduces the problem? Even better if using Docker.

I'm not able to reproduce this issue.

[2021-08-10 08:54] puckey commented on #301
tracked down the issue to the `pg` library instead - will post an issue there. This issue can be closed again – sorry about that : )

[2021-08-10 12:31] puckey commented on #301
I am able to trace this to a combination of `node-libcurl` and `pg` after all..

Using Node v14.17.4 on Ubuntu 20.04.1 LTS (but can not reproduce locally on my mac)

I am requesting a url through https which does not support it:

[code]

gives the following result:

[code]

So far so good.

When I perform the query and at the same time perform an ssl postgres sql query using `zapatos` (which uses

[2021-08-10 12:43] JCMais commented on #301
It seems that the pg native library shutdowns the SSL backend while it is still in use by the addon. Could you try using node.js own `https` module to see if the same happens?

[2021-08-10 13:49] puckey commented on #301
When I use the https module, the query is not interrupted (also tested this in a loop to make sure):
[code]

output:
[code]

[2021-08-10 14:20] JCMais commented on #301
Thanks @puckey!

Could you try the following one, without calling `.end`:

[code]

[2021-08-10 14:24] puckey commented on #301
Then I get:

[code]

[2021-08-10 14:25] JCMais commented on #301
Does the same error happens if you await the curly call?

[2021-08-10 14:40] puckey commented on #301
Then the error is still logged to the console, but it does not throw:

[code]

[code]

[2021-08-10 14:41] puckey commented on #301
This does throw:

[code]

output:

[code]

[2021-08-10 14:57] JCMais commented on #301
Thanks for all the code samples, I will try to reproduce it when I get some time this week. 👍

[2021-08-18 08:35] FandyTADA opened #306 "curl callback not fired on Electron 13"
i have a strange issue running curl on Electron 13.  This is my curl version:

**libcurl version:**
libcurl/7.78.0 (SecureTransport) OpenSSL/1.1.1k zlib/1.2.11 brotli/1.0.9 zstd/1.5.0 libidn2/2.3.2 libssh2/1.9.0 nghttp2/1.44.0 librtmp/2.3 OpenLDAP/2.5.6

**Node version:**
v14.17.5

node-libcurl was built using electron-rebuild using cp++17.

[code]

`curl.on('end'` is never called.

However, i tri

[2021-08-19 06:28] FandyTADA commented on #306
Update: using `Easy` with parameter `Curl.option.WRITEFUNCTION` work properly, buffer is being received.  so my assumption the issue is in eventemitter

[2021-08-26 02:31] domadev812 opened #307 "Parse json issue using curly"
Hi,

I am trying to call api using curly like this.
[code]

And I get the issue something like this
[code]

Could you tell me what is the solution?

[2021-09-08 11:45] flowl opened #311 "URL in example is not an URL"
In the example on: https://www.npmjs.com/package/node-libcurl#simple-request---using-curl-class

The code:

    curl.setOpt('URL', 'www.google.com');

Without a scheme (`http://`, `https://`,  `ftp://`, ...), this is not an URL, it's just a domain.

[2021-10-08 17:23] curiositycasualty commented on #296
I think I'm running into a similar issue with node-libcurl over here: https://github.com/Homebrew/homebrew-core/pull/86456
Is the expectation that node-libcurl should be depending on the `libcurl.dylib` installed via homebrew on Mac OS 11.6+?

[2021-10-09 13:50] JCMais commented on #296
@curiositycasualty no it is not, my expectation is that the library should work with the macOS version of libcurl. We do have an expectation (probably not that well documented) that `curl-config` is available when doing the macOS build.  This happens because of the `postbuild` step we have for macOS here: https://github.com/JCMais/node-libcurl/blob/35f21f8cae7018e1a947cc3a9364e460b2dc3b5b/binding.

[2021-10-10 18:54] JCMais commented on #307
Try setting your own parser to see if that helps, the default is simply calling JSON.parse in the output.

[2021-10-10 21:35] #282 closed

[2021-10-11 19:35] curiositycasualty commented on #296
Seems like the folks over here dealt/are dealing with a similar issue: https://github.com/tarantool/tarantool/issues/5543#issuecomment-752326777

[2021-10-31 13:02] madhav-vl opened #317 "Dependencies deprecation warnings"
Could you please resolve below dependant package deprecation warning

[2021-11-03 01:09] eduardobcastro opened #318 "deprecated har-validator@5.1.5: this library is no longer supported"
Node.js v17.0.1

[code]

[2021-11-03 14:01] JCMais commented on #318
This will be fixed this weekend

[2021-11-03 14:02] JCMais commented on #317
This will be fixed this week. Thanks for reporting.

[2021-11-03 17:01] pbryant-xag commented on #296
Just noting that this worked for me again on another M1 Mac, and on macOS 12.0.1, from the same error message.  I know this shouldn't be surprising, but it is alway pleasing nonetheless.

[2021-11-03 17:03] pbryant-xag commented on #296
@JCMais I'm not sure I have depth of skills to help you here, but would gladly do so if I can.  I can at least test things for you on macOS, for example, and you can go ahead and fire me if I'm not up to the job!

[2021-11-05 00:18] Pfed-prog opened #319 "Converting Body to array"
[code]

Got response
[code]

How is it possible to convert body to array?

Following curl command works well in command line
`curl --location --request POST 'https://api.parsiq.net/v1/data/19c895be-871f-4' --header 'Authorization: Bearer 4bc74a91b4870d50a614' --header 'Content-Type: application/json' --data-raw ' [ {"Pair": "bla", "WBNB": "0xde2d9bf936097395c5EFA0951820DaF49e0065F6", "BADGER": "0x

[2021-11-05 12:35] JCMais commented on #319
`HTTPHEADER` should be a single array, where each element is a header, like:

[code]

[2021-11-06 02:31] #319 closed

[2021-11-06 17:20] JCMais commented on #280
@nijikokun @DMarby FYI this has been fixed here: https://github.com/c-ares/c-ares/pull/430

The node.js dependency has been updated here: https://github.com/nodejs/node/commit/badd1faa5add9d43be1b582353247c14266f2c00

[2021-11-06 19:44] JCMais opened #320 "Add support for CURLOPT_PREREQFUNCTION"
https://curl.se/libcurl/c/CURLOPT_PREREQFUNCTION.html

Added with libcurl `7.80`

[2021-11-07 12:41] DMarby commented on #280
@JCMais Unless I'm misunderstanding that PR, I think that only resolves the issue of "localhost" failing to be resolved, not the second issue of local DNS servers not being used? But I could very well be wrong about that

[2021-11-08 14:36] JCMais commented on #280
@DMarby yeah, it seems to fix only the localhost issue. Not sure the other one has been reported tho.

[2021-11-08 16:06] Dkdaniz commented on #296
Hi Guys,

Follow this tutorial to resolve this problem:

This error invoke because  curl-config --prefix/lib/libcurl.dylib | sed -n 2p' dont is valid in MacOS or in curl
in my file binding.gyp

before:

[code]

but my currently path valid is =>

[code]
**/lib/libcurl.dylib => /local/opt/curl/lib/libcurl.dylib**

After of alter path in file my process of build binding.gyp work fine.

[2021-11-22 13:17] greenchapter commented on #317
@JCMais is there any update, because actually `node-libcurl@2.3.3` breaks on Apple Silicon Macs

[2021-11-22 16:14] JCMais commented on #317
@greenchapter there is a build issue at the moment that I'm trying to fix, pre-release should go out as soon as I get time to fix it. I will try to find time this week.

[2021-11-22 19:54] greenchapter commented on #317
It looks like there is a missing file
[code]

[2021-11-28 20:48] chillmati commented on #296
I followed instructions from here, it actually got passed:
[code]
but then I got this Error in the postinstall script:
[code]

Then when I'm trying to start the project I get:
[code]

[2021-12-23 21:41] xstable opened #321 "unable to verify the first certificate (UNABLE_TO_VERIFY_LEAF_SIGNATURE)"
I have an ftp-downloader created based on your examples here.
It works well for my staging-environment, but not for the production.
For the Production environment, I got this error:

[code]

If I browse with the browser to the given URL, the Certificate is valid and works.
Is there a way to fix this? Maybe a flag to disable this tls-check (as it's a request to a server I know, and which is  secure

[2021-12-29 14:19] domadev812 commented on #307
@JCMais  I tried to set own parser, but I can't find the solution how can I create the own parse.
Could you guide me?

[2022-01-04 16:23] JCMais commented on #307
There is not much documentation for that yet, but here are some details: https://github.com/JCMais/node-libcurl/blob/0dcbb5df9d7b27dc694851b2ea164495792f8dc2/CHANGELOG.md#breaking-change-1

[2022-01-20 07:28] dzcpy commented on #69
How to use it with curly?

[2022-01-21 16:46] cgencer opened #324 "cant install"
could not install it onto MacOSX Monterey, M1 chipset MacbookPro...
,
<img width="1440" alt="Screen Shot 2022-01-21 at 19 44 13" src="https://user-images.githubusercontent.com/3399683/150566390-3ffafbad-04b9-46c5-b654-2f5a13bd1bb2.png">

[2022-01-31 08:55] ddolcimascolo opened #329 "Breaking change in v2.3.4"
Hi @JCMais

With v2.3.4 I now have this error message at runtime

[code]

It reminds me of https://github.com/JCMais/node-libcurl/issues/278 but this time build and packaging works fine. For the record, we package and run on Debian Stretch (9).

Do you know what might be wrong?

Thanks,
David

[2022-01-31 09:57] kapouer opened #330 "missing files for building from source when installed from npm"
Hi,

some of us have a build-friendly environment, so that packages with bindings.gyp can be built from source, instead of pulling binaries.
However node-libcurl seems to be missing some files (build/scripts/*, for a start).

[2022-01-31 12:34] JCMais commented on #330
can you post the full error?

I am able to build it from the source just fine on Windows and Ubuntu.

[2022-01-31 12:43] JCMais commented on #329
Hi @ddolcimascolo, GitHub has removed support for Ubuntu 16, which was the version used previously to build the prebuilt binaries.

I had to upgrade otherwise there would be no need to have the prebuilt binaries on *nix, but I forgot about this GLIBC issue.

Do you know if it is possible to support older glibc versions when building with Ubuntu 18?

Does building from source work?

[2022-01-31 13:09] ddolcimascolo commented on #329
I'll try to build from source and keep you posted.

[2022-01-31 13:14] ddolcimascolo commented on #329
And for the record about the build, that's what we do to support Debian 9 (until middle of this year when it'll go EOL): build the Debian package in a container built after `debian:stretch`

[2022-01-31 13:26] kapouer commented on #330
My mistake, i used node-gyp... it works all right with `node-pre-gyp` in the npm-installed node_modules/node-libcurl.
I wasn't sure if it worked with `npm install node-libcurl --build-from-source` but it seems it works too.

[2022-01-31 13:26] #330 closed

[2022-01-31 17:22] shahruk commented on #324
Having the same issue with 2.3.4. It seems like the only Darwin releases are for node-webkit and electron

[2022-01-31 19:06] JCMais commented on #324
could you paste the full log please?

I have identified the error with the prebuilt binaries, will fix it tonight. But it should be able to compile from source correctly.

[2022-01-31 23:26] kapouer opened #331 "curly stream and writeFunction"
Hi, i am trying to stream response and abort curl in some cases:

[code]
this example works great for the streaming response part if i remove the `writeFunction` option.
However i need to be able to abort the request, and it doesn't work as expected: "data" stream receives no data.
If i try to write the chunks directly to "res" stream, it also fails somehow.

is there some hope to get this working

[2022-02-01 01:07] kapouer commented on #331
I got it working using

[code]

[2022-02-01 01:10] kapouer opened #332 "curly: fails to add a request in the same event loop"
Nothing special (curly + streaming response):
- request A -> request B fails with "Could not add easy handle to the multi handle"
- request A -> setImmediate(request B) succeeds

[2022-02-01 13:12] JCMais commented on #329
@ddolcimascolo could you check if the prebuilt binaries are working for you now?  I tested using docker and it seems to be working.

This should not happen again in the future as I will be using a container to build the Linux binaries moving forward.

[2022-02-01 19:36] steddyman commented on #324
I have the same issue now.  Is there anything more you need to resolve this?

[2022-02-02 11:23] JCMais commented on #332
hi @kapouer, thanks for reporting this.

What is the Node.js version? If you could provide a Dockerfile / .js file that reproduces the issue that would be great.

[2022-02-02 11:28] JCMais commented on #331
Currently, you cannot provide `writeFunction` when using the stream options, as internally the streaming is done by using a custom writeFunction: https://github.com/JCMais/node-libcurl/blob/fb5ae130ccaa9d4f01a90e1bc645ed5b4a304845/lib/Curl.ts#L983-L1086

Using destroy as you did is the correct way to do it.

[2022-02-02 11:28] #331 closed

[2022-02-02 11:29] JCMais commented on #324
I have published prebuilt binaries for macOS, could you check if it is working now?

[2022-02-02 11:32] JCMais commented on #321
Hey @xstable, sorry for the long delay to answer this. Is this still an issue?

`SSL_VERIFYPEER` is the option you want to set, so it is weird that it is not working.

[2022-02-02 11:33] JCMais commented on #317
This has been fixed with `2.3.4`

[2022-02-02 11:33] #317 closed

[2022-02-02 11:34] kapouer commented on #331
Maybe it would help future users to add the example above to the provided examples ?

[2022-02-02 11:36] JCMais commented on #331
Yep, that would be great! I should have some time to do it later next week, in the meantime feel free to open a PR :)

[2022-02-02 11:48] kapouer commented on #332
Node 12.22.9 on debian/bookworm, with node-libcurl compiled against libcurl4-gnutls-dev 7.81.0.
I'll try to isolate the problem.

[2022-02-02 17:57] steddyman commented on #324
Fantastic, that has worked.  Thanks for the support.

[2022-02-02 18:01] steddyman commented on #324
Is there a way to debug the or capture the output of this library?
I have noticed that my usual debugging step does now work with this new library:
#!/usr/bin/env NODE_DEBUG=http node

[2022-02-02 21:44] ddolcimascolo commented on #329
Hi @JCMais

It's OK now. Thx for fixing!

Cheers,
David

[2022-02-02 21:44] #329 closed

[2022-02-03 07:02] xstable commented on #321
I think it's still exists, if you didn't change anything in the code?!
I created a workaround for my case, but as it's to far in the paste, I forget what it was. Maybe switching to an insecure protocol?! Don't know.

[2022-02-09 14:53] jhoogstraat opened #334 "curly: error setting certificate file: /etc/ssl/certs/ca-certificates.crt on Fedora 35"
This node script produces curl error 77: `const response = await curly.get(url)`.
`curl $URL` does work however.

The file `ca-certificates.crt` does not exist on my machine, instead `ls /etc/ssl/certs/` prints
[code]

[2022-02-10 01:44] jhoogstraat opened #335 "Segmentation fault on aarch64"
I got a segmentation fault using the library on my raspi 4 in a docker container.
segfault-handler reported the following stacktrace:
[code]
The error occurs  only on aarch64, x86 works fine.
This test script exhibits the segmentation fault:
[code]

The use case in the application is equivalent to the `forEach` example shown above, but the single request before already proeduces the seg fault.

Th

[2022-02-10 11:07] a-tonchev opened #336 "Installation on WSL (Ubuntu) crashing windows with BSOD"
Trying to upgrade/install to latest node-libcurl (from 2.3.3 to 2.3.4) is causing Windows to crash, mixing up package.json and yarn.lock

BSOD: KERNEL_SYSTEM_CHECK_FAILURE

In a large project, this is the only library that can not be installed and crash on every try. At first I was thinking that my windows is broken, so I reinstalled it, but the same problem happens.

https://github.com/microsoft/

[2022-02-12 11:58] JCMais commented on #336
Hi, I develop the addon using WSL 2 on Windows 10, and I am not able to reproduce it. I would recommend upgrading to WSL 2 if possible.

With that said, I do not think this is an issue with the addon, it is an issue with WSL and probably the way it handles multiple file descriptors bein opened at the same time.

WSL 2 has a different filesystem handling, so that is probably why I do not see this i

[2022-02-12 11:58] #336 closed

[2022-02-12 12:05] JCMais commented on #335
I suppose you had to build the addon from source, right?

This is probably the same issue described on #164. Basically, if you are building from the source, you must build the addon using the same OpenSSL version as the one used by Node.js itself. For more context please see the original issue. It is not something that can be easily fixed from the add-on side.

[2022-02-12 12:05] #335 closed

[2022-02-12 12:17] JCMais commented on #318
fyi update on the deprecation warning, it requires a major bump of `node-gyp`, which I cannot do right now.

[2022-02-12 12:42] JCMais commented on #301
It has been a while since I commented on this issue. I had no success trying to reproduce it when I tried.

When I was debugging this, I found that `pg` may use `pg-native`. which in turn uses `libpq`, which is a binding for the C library `libpq`. It could be the case that `libpq` is shutting down the SSL layer while libcurl is still using it. I am not sure why this does not happen with the Node.j

[2022-02-12 12:43] farshadfahimi opened #337 "Can not install node-libcurl on node 16.14.0"
**Describe the bug**
I'm trying to install `node-libcurl` on my existing api that create with adonisjs framework
when delete `node_modules` and `package-lock.json` file and try to execute the `npm i` command
the installation process blocked when try to install `node-libcurl`
[code]
at the last line system blocked and not go on

**Version information:**
[code]

**package info:**
[code]

[2022-02-12 12:52] JCMais commented on #306
When I tried this I was not able to reproduce it with Electron, if you could provide a sample code that reproduces the issue that would be great.

[2022-02-12 13:22] farshadfahimi commented on #337
I'm trying to install package from the source and got error
[code]

[2022-02-12 14:51] SaulMoonves commented on #301
This still happens to me, but only very infrequently now. In my current application I spawn a hundred or more promises doing (among other things) node-libcurl calls and put them all in a Promise.allSettled(promises), and the vast majority of the time it works as intended.

The promises also are doing pg queries too, the original case of the problem seemed to coincide with pg, but is fixed or great

[2022-02-12 15:57] adimscredit commented on #301
I am having the same issue. I am using this sample

[code]

Please how do I disable ssl check?

[2022-02-22 11:22] a-tonchev commented on #336
@JCMais out of curiosity - how did you solve the problem with hot reloading on WSL2? My biggest issue with WSL2 is the hot reloading, I want to use my Windows IDE (Webstorm) for edit files and git commands but to have the code running in linux.
Moving files into the linux filesystem makes somehow the IDE slow and git does not work well.

[2022-02-23 12:21] JCMais commented on #336
@a-tonchev I use VSCode with WSL2 and I have no issues with the filesystem, it is as fast as opening a file in the Windows filesystem. With WSL2 access to the Windows filesystem from within WSL2 is slower than it was with WSL1, but the WSL2 own filesystem has performance close to native.

In your case, my assumption would be that the IDE is not optimized for development using WSL.

[2022-03-23 14:25] TheShyLeo opened #340 "how can i get the same output of curl command with node-libcurl?"
My curl command line looks like this:
curl -k --http2  https://user:password@127.0.0.1:port/lol-match-history/v3/matchlist/account/4110398489?begIndex=1&endIndex=10
how can i get the same output with node-libcurl?
thank you very much!!!
Looking forward to your reply

[2022-03-30 02:03] bismoney opened #342 "How convert to libcurl?"
[code]

Need curlFile format
curl_setopt($curl, CURLOPT_POSTFIELDS, array('file' => new CurlFile(realpath('file.csv'))));

    var Curl = require( 'node-libcurl' ).Curl;

    var curl = new Curl();

    curl.setOpt('URL', data.url);
    curl.setOpt('FOLLOWLOCATION', true);
    curl.setOpt('SSL_VERIFYPEER', false);

    curl.setOpt('HTTPHEADER', [
        'Authorization: OAuth AQAAAAAF0D1yAAfC3Q40j

[2022-04-06 13:32] alxvasilev opened #343 "Memory leak when reusing Easy instance"
**Describe the bug**
When reusing a Curl js object for POST requests, the postdata is saved in the `ToFree` object associated with the Curl instance. But when it's reused for another POST request, the previous postdata string is not freed when the new one is added. This effectively results in a memory usage growth over time.
It seems that the `toFree` member should be freed in Easy::Dispose, but i

[2022-04-06 15:09] alxvasilev commented on #343
P.S. I just found out that using reset() instead of close() actually frees `toFree`. Still, I think this should be more explicitly documented, as it's easy to cause a memory leak.

[2022-04-06 15:12] #343 closed

[2022-04-18 03:38] proffnick opened #345 "Not making request on public Wifi Network"
Thank you everyone.

First of all I am routing request to a private network that would only receive requests from a specific IP address on Ubunto server (Linux), however, I am having a strange issue: When I am connected to my mobile network, making an http request (on an IP like `http://my-ip:/2000/api/`) using the library works fine, and the request returns data. However, when I connect to a publ

[2022-04-18 10:47] dimaslanjaka opened #346 "Error invalid ELF header"
**ERROR**
[code]

**CODES TO REPRODUCE**
[code]

**VERSIONS**
[code]

[2022-04-20 14:33] JCMais commented on #342
Please check the examples folder, almost all common use-cases are in there. For file upload, it looks like this: https://github.com/JCMais/node-libcurl/blob/1563bb7699eb9b22989058a0d018c59a460aaf37/examples/08-file-upload-post.js

[2022-04-20 14:33] #342 closed

[2022-04-29 20:14] MikeOBarometer opened #348 "How to not show download in stdout/stderr?"
When downloading files via the library I see progress printed to terminal when I would not have expected it to, is there a way to disable these?

[code]

[2022-05-03 15:10] MikeOBarometer commented on #348
This occurs in stream mode as the NOPROGRESS opt is explicitly set to false here: https://github.com/JCMais/node-libcurl/blob/f88792dd196c0267a3b7cc889b24cb6902e1a3d9/lib/Curl.ts#L740

A workaround here is to not use the stream enabled mode and use writeFunction or { data } response instead.

[2022-05-14 16:37] JCMais commented on #348
@MikeOBarometer could you share a sample code that reproduces the issue?

[2022-05-24 15:39] insidexoff opened #351 "single connection"
How to use single connection in this library. so you have to wait for the previous http connection request to finish before executing the new connection.

I put node-libcurl in loop however this node-libcurl does concurrent http connection requests. i want a single connection how to do it.

[2022-05-25 09:53] insidexoff commented on #351
I used this curl option to solve this problem. This doesn't seem like a good solution

[code]

[2022-05-27 22:51] SwapnilSoni1999 opened #352 "How to build with curl-impersonate"
I tried building gyp build with these config but seems like its not getting compiled i guess

[code]
Here are the curl-impersonate files are (incase required)
![image](https://user-images.githubusercontent.com/25403317/170797831-cd09f0f0-9c8a-48b7-87d2-f0af690ce33d.png)

Also can you help writing this request in js

[code]

[2022-06-03 17:12] SwapnilSoni1999 opened #355 "Curl option: SSL_FALSESTART option is not working"
**Describe the bug**

passing curl.setOpt('SSL_FALSESTART', 1) shows the following error

[code]

OS: ArchLinux
Node.js Version: v16.3.0

[2022-06-14 01:43] JCMais commented on #355
According to the docs:

https://curl.se/libcurl/c/[CURLOPT_SSL_FALSESTART](https://curl.se/libcurl/c/CURLOPT_SSL_FALSESTART.html).html

The prebuilt binary is built with OpenSSL, so you will have to build the addon from source using your own libcurl version.

[2022-06-14 01:45] JCMais commented on #352
Hi @SwapnilSoni1999. I am not having a lot of time to investigate custom compilation issues right now. What errors are you getting when compiling it?

About your question on the `curl` CLI, what I would recommend is using the `--libcurl` option, which will allow you to save a `.c` version of the CLI, from there you can see all options it is using, and then convert that to Node.js.

[2022-06-14 01:46] JCMais commented on #351
@insidexoff mind sharing some code of what you want to accomplish?

[2022-06-14 15:14] SwapnilSoni1999 commented on #352
Heya @JCMais thanks for response. I've actually built one for now its not that robust build but it works
Huge thanks to your bindings <3
Heres the forked repo: https://github.com/SwapnilSoni1999/node-libcurl-impersonate

[2022-06-14 23:35] JCMais commented on #352
Awesome, glad you got it to work!

[2022-07-19 23:21] KokeroO opened #356 "curl.enable with Easy"
I need to use curl.enable(CurlFeature.NoDataParsing) or curl.enable.(CurlFeature.Raw) with Easy and Multi.

I've tried everything for 2 days and I can't find a solution.

[2022-07-20 02:05] JCMais commented on #356
The `Easy` and `Multi` classes are basically a 1:1 conversion of the C libcurl API, thus they do not provide this helper.

This should not be needed for the native Easy and Multi instances, because they don't parse the data. The data is provided as-is the same way libcurl provides them in the [CURLOPT_WRITEFUNCTION](https://curl.se/libcurl/c/CURLOPT_WRITEFUNCTION.html).

What are you trying to acc

[2022-07-27 14:36] KokeroO opened #357 "Error using CURLOPT_PRIVATE"
I have the following error when using `CURLOPT_PRIVATE ` with Easy:

`Error: Unsupported option, probably because it's too complex to implement using javascript or unecessary when using javascript (like the _DATA options).`

[2022-07-27 15:58] JCMais commented on #357
In the C libcurl API, the `CURLOPT_PRIVATE` is used to store some data related to a specific easy handle. With Node.js this is not needed, as you can easily do that directly by adding a field to the instance or having a separate data structure to hold the data, such as a `WeakMap` where the key is the class instance.

The Easy class has a field `private` with a type set to `any` to help with this,

[2022-07-27 15:58] #357 closed

[2022-07-29 20:41] ghost opened #358 "Curly headerFunction Error: Cannot convert undefined or null to object"
**Describe the bug**
Function example Code
[code]
A clear and concise description of what the bug is.
[code]

**Version information:**
Version:
[code]

OS:
Node.js Version:
v16.16.0
**Additional context**
MacOS 12.4 ARM

[2022-08-11 20:57] SwapnilSoni1999 opened #359 "Converting to node-libcurl request"
Hi I have the following request. Which works from curl but not from node-libcurl

[code]

[2022-08-12 04:11] jinfeihan57 commented on #164
@JCMais Great Work. I have encountered similar problems. Can you explain your solution in detail? Is there any PR to solve this problem?

[2022-08-12 23:34] trevordowdle opened #360 "Convert curl request to node-libcurl (multipart/form-data)"
I have a particular stubborn api that I've only been able to get to work with the following curl request:

`curl  --request PUT  -H "Content-Type: multipart/form-data" -H "Authorization: Bearer abcd" -F functionConfig='{"parallelism":2};type=application/json' http://test-pulsar:8080/admin/v3/functions/test/ingest/test-entity-FeedTransformer`

Here is the --libcurl output

[code]

I believe the mai

[2022-08-12 23:47] trevordowdle commented on #360
Posted on StackOverflow as well:

https://stackoverflow.com/questions/73340661/node-libcurl-node-libcurl-trouble-with-multipart-form-data-request

[2022-08-13 18:14] JCMais commented on #360
The curl mime APIs are not available, see https://github.com/JCMais/node-libcurl/issues/112 for the feature request.

What you can use is the `HTTPPOST` option (which has been deprecated, but is still working).

It would be something like this:

[code]

You do lose the content-type in the above example. If that is important to the server you are using, the only way to set it is by saving the data

[2022-08-13 18:26] JCMais commented on #359
what is not working exactly? What is the Node.js code you are using?

[2022-08-13 18:27] JCMais commented on #358
do you have some code that you could share to help reproduce this? The only way I see this happening is if the headers passed to the onEnd are undefined

[2022-08-13 18:30] JCMais commented on #164
The solution is more of a workaround, basically, you need to make sure you are always building the same version of OpenSSL than the one used by Node.js. You will introduce duplicated symbols, but they will not cause segmentation faults, as they are the same.

[2022-08-15 07:53] jinfeihan57 commented on #164
This can solve the problem, Thanks. but some third-party librarys that node depend on are very common. I think the best solution is to introduce these libraries into node in the form of dynamic libraries.

[2022-08-15 19:20] trevordowdle commented on #360
Thank you!

[2022-08-15 19:20] #360 closed

[2022-09-04 15:59] Marty-Stu opened #361 "npm -S i node-libcurl >> response status 503 Service Unavailable on /releases/download/v2.3.4/node_libcurl-v2.3.4-node-v108-linux-x64-glibc.tar.gz"
**Describe the bug**

During the installation of the module, an attempt is made to download a file that does not exist (`node_libcurl-v2.3.4-node-v108-linux-x64-glibc.tar.gz`).

**To Reproduce**

1. `npm -S i node-libcurl`
2. file not found
    `response status 503 Service Unavailable`
    for file
    `https://github.com/JCMais/node-libcurl/releases/download/v2.3.4/node_libcurl-v2.3.4-node-v108-l

[2022-09-07 12:20] emredalka commented on #258
FRESH_CONNECT true option resolves the proxy problem

[2022-09-26 22:00] trothwell opened #363 "Method to download prebuilts or source when no network is available"
**Describe the bug**

A method to pre-cache dependencies.

Similar method is possible with Pkg.
https://github.com/vercel/pkg#user-content-environment

**To Reproduce**

Requires ability to lockdown network access but allows access to private npm-repo.

OS:
Node.js Version: 16

**Additional context**
Add any other context about the problem here.

[2022-10-26 12:45] JCMais opened #365 "add support for options introduced with libcurl > 7.79.1"

[2022-10-27 06:09] bchew opened #366 "Add prebuilt binaries for nodejs 18 LTS"
nodejs 18 has just been moved to active LTS and we have just realised there were no prebuilt binaries after upgrading as per snippet below:

[code]

Would it be possible to have prebuilt binaries for 18 as well? That would be appreciated, thanks.

I could create a PR if the changes for 18 are similar to https://github.com/JCMais/node-libcurl/commit/4844420ff81ce40d7f99726c9c614aab27d76eaf if you p

[2022-10-29 12:28] JCMais commented on #366
@bchew I am working on this. I will increase the major version as it will require an upgrade of nan and node-gyp tho. This basically means requiring Python 3 and ubuntu >= 20.04 if you are using linux.

[2022-11-02 16:24] Ookamini95 opened #372 "Promisify the writefunction callback (Curly)"
Is it possible to use async on the writefunction, so as to use fs.promises to write onto a file?
Something like

[code]

If I use await, error code 23 is shown (function expects an int, while a promise is returned). Also if I try to write onto the file directly in the runCurly function nothing is written (buffer is empty).

[2022-11-02 19:27] JCMais commented on #372
@Ookamini95 async is not possible due to the way libcurl works, we must return something to libcurl as soon as they call us. You can use writeFileSync inside the writeResponse.

Keep in mind this may (and probably will) get called more than once, as the response is retrieved in chunks.

You are supposed to read `nmemb * size` bytes of the buffer, and write those. Example here: https://github.com/J

[2022-11-02 21:19] Ookamini95 commented on #372
Thanks for the info.

[2022-11-02 22:58] JCMais commented on #372
If the file is not big, you can append the chunks to an array and then create a single buffer later to then write to a file.

Closing this as the original question has been answered.

[2022-11-02 22:58] #372 closed

[2022-11-09 01:21] bchew commented on #366
@JCMais have just tried with the `v3.0.0-0` pre-release version in a Node.js 18 with Ubuntu 22.04 container image and it has worked fine for us. Thanks!

[2022-11-09 11:08] JCMais commented on #366
@bchew awesome, I will try to release it this weekend, but there will be no major changes between this pre-release version and v3, so feel free to keep using it until then.

[2022-11-10 19:47] A-Posthuman opened #373 "Will 3.0.0 be available via npm package soon?"
Hi, just checking if it will be available to install from npm package, thx

[2022-11-10 22:47] JCMais commented on #373
@A-Posthuman it is currently available as a pre-release, `node-libcurl@next` or `node-libcurl@3.0.0-0`.

I will try to release the actual version this weekend.

[2022-11-10 22:47] #373 closed

[2022-11-16 13:30] ddolcimascolo commented on #366
Hi @JCMais

Any news on the support of Node 18? I can help if you need

Cheers,
David

[2022-11-17 08:53] ddolcimascolo commented on #366
As a side note, we're using v3.0.0-0 with Node 18.12 and it works fine

[2022-11-17 12:09] JCMais commented on #366
@ddolcimascolo @bchew v3.0.0 has been released, it may take a while until all prebuilt binaries are ready.

[2022-11-17 19:13] ddolcimascolo commented on #366
Thx @JCMais one more time for your work in this library!

[2022-11-17 19:37] #366 closed

[2022-11-19 05:58] A-Posthuman opened #374 "Can't build 3.0.0 from source with Node 18 / node-gyp"
OS: Ubuntu 20.04

I see in your documentation it states python2.7 is required for install, but I can't seem to get the latest node-gyp to use it?

I do have it installed as /usr/bin/python2.7, and have tried to force node-gyp to use it via:

export PYTHON=/usr/bin/python2.7

creating a .npmrc file with python = "/usr/bin/python2.7"

export npm_config_python=/usr/bin/python2.7

Despite all these at

[2022-11-19 21:24] JCMais commented on #374
Python 3.0 is required, node-gyp will automatically try to find it, as it shows on your logs.

Could you send me a Dockerfile that reproduces the issue?

[2022-11-20 03:21] A-Posthuman commented on #374
I did some googling and found this electron issue:

[Bug]: Native modules that include nan.h fail to build on electron 20
https://github.com/electron/electron/issues/35193

Is that the possible issue? I tried compiling the older node-libcurl 2.3.4 and also ended up with errors related to nan.h:

Are you using any special config or settings or pinned versions of things not mentioned in your current

[2022-11-20 23:21] kapouer commented on #332
Hi, using node-libcurl@3.0.0 in the same context, I get the same error.

Now my code looks like

[code]
However that error had disappeared for some time, and now it's back :(
Something has changed - maybe I switched from prebuilt version to --build-from-source.

[2022-11-20 23:22] kapouer commented on #332
Of couse, reinstalling to 2.x still gives the same error - so it's not a regression.

[2022-11-21 19:13] A-Posthuman commented on #374
Hi, I figured out the issue, which was my bad: not enough ram and no swap on the instance I was using, leading to unpredictable issues when compiling things. After fixing that, the node-libcurl 3.0.0 compiled fine.

BTW, suggest to update/remove the reference to python 2.7 on the main readme file.

[2022-11-22 19:22] zuzupapa opened #375 "close connection"
after successfull request connection to proxy still established, how to fix it?

[2022-11-24 22:48] kapouer commented on #332
This is some sort of duplicate of https://github.com/JCMais/node-libcurl/issues/81
I had SSL_VERIFYPEER set to false, and reenabling it fixes the issue.